<% provide(:title, @marker_sequence.name) %>
<%= show_val_errors(@marker_sequence)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Sequence <%= @marker_sequence.name %>
      <% if @marker_sequence.try(:isolate).try(:individual).try(:taxon) %>
        - <%= link_to(@marker_sequence.isolate.individual.taxon.scientific_name, edit_taxon_path(@marker_sequence.isolate.individual.taxon.id))  %>
        <% end %>
      </h3>
    </h3>
  </div>

  <div class="panel-body">

    <%= form_for(@marker_sequence) do |f| %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <li><a href="#assigned_contigs" role="tab" data-toggle="tab">Contigs</a></li>
          <%= render :partial => 'shared/sativa_nav_tab', :locals => { :marker_sequences => [@marker_sequence] } %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane active" id="description">
            <br>

            <div class="form-group">
              <%= f.label 'Name' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label 'Genbank no.' %>
              <%= f.text_field :genbank, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label 'Reference' %>
              <%= f.text_field :reference, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :sequence %>
              <%= f.text_area :sequence, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :isolate_display_name, 'Isolate' %>
              <% if @marker_sequence.isolate %>
                  <%= link_to '', edit_isolate_path(@marker_sequence.isolate), :class => "glyphicon glyphicon-share-alt" %>
              <% end %>
              <%= f.text_field :isolate_display_name , data: { autocomplete_source: filter_isolates_path } , class: 'form-control'%>
            </div>

            <div class="form-group">
              <%= f.label :marker %>
              <%= f.collection_select(:marker_id, Marker.all, :id, :name, { :include_blank => '<no selection>' }, { class: 'form-control' }) %>
            </div>

            <%= render :partial => 'shared/associated_projects', :locals => { :form => f, :projects => associated_projects(@marker_sequence) } %>
          </div>

          <div class="tab-pane" id="assigned_contigs">
            <br>
            <% if @marker_sequence.contigs.any? %>
                <ul>
                  <% @marker_sequence.contigs.each do |ct| %>
                      <li><%= link_to ct.name, edit_contig_path(ct) %></li>
                  <% end %>
                </ul>
            <% end %>
          </div>

          <%= render :partial => 'shared/sativa_warnings', :locals => {:marker_sequence => @marker_sequence} %>
        </div>

      <%= f.submit 'Update', :class => 'btn btn-default' %>

    <% end %>

  </div>
</div>