<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Marker Sequences</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">
      <table id="marker_sequences" data-source=" <%= marker_sequences_url(format: "json") %>"  class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Last Updated</th>
        <th></th>

      </tr>
      </thead>

      <tbody>

      </tbody>
    </table></div>
  </div>

</div>
<%= link_to 'New Marker sequence', new_marker_sequence_path %>


<!-- Unassigned-->

<hr>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Marker sequences where no isolate is assigned:</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">

      <table class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Name</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>


        <tbody>

        <% MarkerSequence.where(:isolate => nil).each do |ms| %>

            <tr>
              <td><%= link_to ms.name, edit_marker_sequence_path(ms) %></td>

              <td> <%= ms.updated_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td><%= link_to 'Delete', ms, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

        <% end %>
        </tbody>

      </table>
    </div>

    <br>

  </div>

</div>