<% provide(:title, @individual_search.title) %>
<%= show_val_errors(@individual_search)%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3  class="panel-title">Advanced Specimen Search</h3>
  </div>

  <div class="panel-body">
    <div class="advanced_search">
      <%= form_for @individual_search do |f| %>
        <div class="field">
          <%= f.label :title, 'Title (if you leave this field empty the search will not be saved)' %><br />
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :specimen_id, 'Specimen ID' %><br />
          <%= f.collection_select :specimen_id, Individual.order(:specimen_id), :specimen_id, :specimen_id, { include_blank: true }, { class:"form-control" } %>
        </div>
        <div class="field">
          <%= f.label :DNA_bank_id, 'Associated DNA Bank ID' %><br />
          <%= f.text_field :DNA_bank_id, class: 'form-control' %>
        </div>
        <br/>
        <div>
          <%= f.label :has_taxon, 'Search for specimen with or without associated taxonomic information:' %><br>
          <%= f.radio_button :has_taxon, "taxon" %>
          <%= f.label :taxon, "Only with" %>
          <%= f.radio_button :has_taxon, "no_taxon" %>
          <%= f.label :no_taxon, "Only without" %>
          <%= f.radio_button :has_taxon, "all_taxon", :checked => radio_checked(@individual_search, 'has_taxon', 'all_taxon') %>
          <%= f.label :all_taxon, "Both" %>
        </div>
        <br/>
        <div>
          <%= f.label :has_issue, 'Search for specimen with unsolved issues:' %><br>
          <%= f.radio_button :has_issue, "issues" %>
          <%= f.label :yes, "Only with" %>
          <%= f.radio_button :has_issue, "no_issues" %>
          <%= f.label :no, "Only without" %>
          <%= f.radio_button :has_issue, "all_issue", :checked => radio_checked(@individual_search, 'has_issue', 'all_issue') %>
          <%= f.label :both, "Both" %>
        </div>
        <br/>
        <div>
          <%= f.label :has_problematic_location, 'Search for specimen with problematic location data:' %><br>
          <%= f.radio_button :has_problematic_location, "bad_location" %>
          <%= f.label :bad_location, "Only with" %>
          <%= f.radio_button :has_problematic_location, "location_okay" %>
          <%= f.label :location_okay, "Only without" %>
          <%= f.radio_button :has_problematic_location, "all_location", :checked => radio_checked(@individual_search, 'has_problematic_location', 'all_location') %>
          <%= f.label :all_location, "Both" %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :collection, 'Collection' %><br />
          <%= f.collection_select :collection, Collection.order(:name), :name, :name, { include_blank: true }, { class:"form-control" } %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :taxon, 'Associated Taxon' %><br />
          <%= f.collection_select :taxon, Taxon.order(:scientific_name), :scientific_name, :scientific_name, { include_blank: true }, { class:"form-control" } %>
        </div>
        <br>
        <div class="actions"><%= f.submit "Search", class: 'btn btn-default'%></div>
      <% end %>
    </div>
  </div>
</div>
