<%= show_val_errors(@shelf)%>


<div class="authform">
  <h4><%= @shelf.name%></h4>
<%= form_for(@shelf) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
      <%= f.submit 'Update', :class => 'button right' %>

<% end %>
</div>