<%= show_val_errors(@plant_plate)%>


<div class="authform">
  <h4><%= @plant_plate.name%></h4>
<%= form_for(@plant_plate) do |f| %>

      <div class="form-group">
        <%= f.label "Name/Code" %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <%= f.submit 'Update', :class => 'button right' %>
<% end %>
</div>