<%= show_val_errors(@issue)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @issue.title %></h3>
  </div>


  <div class="panel-body">
    <%= form_for(@issue) do |f| %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :autofocus => true, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="vertical-spacer"></div>

      <div class="form-group">
        <%= f.label :projects, 'Projects this object belongs to' %>
        <%= project_list(@issue) %>
      </div>

      <%= f.submit 'Update', :class => 'btn btn-default' %>
  <% end %></div>
  
</div>