<% provide(:title, @primer_read.name) %>
<%= show_val_errors(@primer_read)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @primer_read.name %>
      <% if @primer_read.try(:contig).try(:isolate).try(:individual).try(:taxon) %>
        - <%= link_to(@primer_read.contig.isolate.individual.taxon.scientific_name, edit_taxon_path(@primer_read.contig.isolate.individual.taxon.id))  %>
      <% end %>
    </h3>
  </div>

  <div class="panel-body">

    <%= form_for(@primer_read) do |f| %>

        <% seq1 = @primer_read.sequence %>
        <% read_id = @primer_read.id %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <li class="active"><a href="#quality" role="tab" data-toggle="tab">Quality</a></li>
          <li><a href="#files" role="tab" data-toggle="tab">Files</a></li>
          <%= render :partial => 'shared/sativa_nav_tab', :locals => { :marker_sequences => [@primer_read.contig&.marker_sequence] } %>
          <%= render :partial => 'shared/issue_nav_tab', :locals => { :record => @primer_read } %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane" id="description">
            <br>

            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>


            <div class="form-group">
              <%= f.label :contig_id, 'Contig' %>
              <% if @primer_read.contig %>
                  <%= link_to '', edit_contig_path(@primer_read.contig), :class => 'glyphicon glyphicon-share-alt', :title => "go to #{@primer_read.contig.name} " %>
              <% end %>
              <%= f.collection_select :contig_id, Contig.order(:name), :id, :name, { include_blank: true }, { class:"form-control" } %>
            </div>

            <div class="form-group">
              <span class="glyphicon glyphicon-link"></span><%= link_to ' Auto-assign contig, isolate, primer, and read orientation & trim read', assign_primer_read_path %>
              <br>
            </div>

            <p>
              <% if @primer_read.reverse %>
                  <span class="glyphicon glyphicon-arrow-left"></span> Read is reverse-complemented. <span class="glyphicon glyphicon-repeat"></span> <%= link_to 'Restore original orientation.', restore_primer_read_path %>
              <% else %>
                  <span class="glyphicon glyphicon-arrow-right"></span> Forward read. <span class="glyphicon glyphicon-repeat"></span> <%= link_to 'Reverse-complement the read', reverse_primer_read_path %>
              <% end %>
            </p>

            <% if @primer_read.primer %>
                <p><div class="field">
            Primer: <%= link_to @primer_read.primer.name, edit_primer_path(@primer_read.primer) %> | Marker: <%= link_to @primer_read.contig.marker.name, edit_marker_path(@primer_read.contig.marker) if @primer_read.contig %>
          </div></p>
            <% end %>

            <div class="form-group">
              <%= f.label :comment %>
              <%= f.text_field :comment, class: 'form-control' %>
            </div>

            <%= render :partial => 'shared/associated_projects', :locals => { :form => f } %>
          </div>


          <div class="tab-pane active" id="quality">
            <br>
            <% if seq1 %>
                <div >
                  <%= f.label 'Readable bases ' %>
                  <%= f.text_field :trimmedReadStart, :class => "sequence_position_left", :id => "left_clip_#{read_id}" %>
                  <%= f.label ' - ' %>
                  <%= f.text_field :trimmedReadEnd, :class => "sequence_position_right", :id => "right_clip_#{read_id}" %>
                  out of <%= seq1.length %>
                </div>
            <% end %>
            <span class="glyphicon glyphicon-resize-small"></span><%= link_to ' Trim sequence based on quality scores', trim_primer_read_path %>
            <div >
              Min. qual.:
              <%= f.text_field :min_quality_score, :class => "sequence_position_right" %>
              Window:
              <%= f.text_field :window_size, :class => "sequence_position_right" %>
              > min.:
              <%= f.text_field :count_in_window, :class => "sequence_position_right" %>
            </div>
            <p>

            <p>
            <div class="field">
              <%= f.label 'Use for contig' %>
              <%= f.check_box :used_for_con  %> |
              <%= f.label 'Assembled' %>
              <%= f.check_box :assembled  %>
            </div>

            <div class="field">
              Aligned read sequence overwritten by externally edited contig file
              <%= f.check_box :overwritten  %>
            </div>

            <br>

            <!-- Chromatogram view -->
            <div>
              <% unless @pos %>
                <% @pos = 0 %>
              <% end %>

              <%= content_tag 'div', class: 'alignment', id: "chromatogram_container_#{@primer_read.id}", data: {read_id: @primer_read.id} do %>
                <%= content_tag 'div', class: 'chromatogram', id: "primer_read_#{@primer_read.id}", data: {url: @primer_read, read_id: @primer_read.id, pos: @pos } do %><% end %>
              <% end %>

              <!--buttons -->
              <span>
                <%= content_tag 'button', class: 'scroll-left-button btn btn-default btn-sm', title: 'Go to start', data: {read_id: @primer_read.id } do %>
                    <span class="grey glyphicon glyphicon-fast-backward"></span>
                <% end %>
                        <%= content_tag 'button', class: 'scroll-right-slowly-button btn btn-default btn-sm', title: 'Auto-scroll', data: {read_id: @primer_read.id } do %>
                    <span class="grey glyphicon glyphicon-play"></span>
                <% end %>
                        <%= content_tag 'button', class: 'pause-button btn btn-default btn-sm', title: 'Stop', data: {read_id: @primer_read.id } do %>
                    <span class="grey glyphicon glyphicon-pause"></span>
                <% end %>
                        <%= content_tag 'button', class: 'scroll-right-button btn btn-default btn-sm', title: 'Go to end', data: {read_id: @primer_read.id } do %>
                    <span class='grey glyphicon glyphicon-fast-forward'></span>
                <% end %>

                <span style="width: 30px; display: inline-block;">    </span>

                <%= content_tag 'button', class: 'go-to-button_primer_read btn btn-default btn-xs', data: {read_id: @primer_read.id } do %>
                  <span style="color: #979797">Go to</span>
                <% end %>

                <%= content_tag 'input', class: 'go-to-pos', id: "go-to-pos_#{@primer_read.id}", type: 'text' do %><% end %>
                <span style="color: #979797">/ <%= @primer_read.sequence.length %></span>

                <span style="width: 30px; display: inline-block;">    </span>

                <% if @primer_read.contig %>
                  <span style="color: #979797;"><%= link_to "Go to contig #{@primer_read.contig.name}", edit_contig_path(@primer_read.contig), class: 'btn btn-default btn-sm grey' %></span>
                <% end %>
              </span>
            </div>

          </div>

          <div class="tab-pane" id="files">
            <br>
            <span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download trimmed sequence as Fasta file',  fasta_primer_read_path %><br>
            <span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download chromatogram file',  url_for(@primer_read.chromatogram) %><br>
            <br>
            <span class="glyphicon glyphicon-paperclip"></span> Attach scf/ab1 file:<%= f.file_field :chromatogram %>
            <br>
          </div>

          <%= render :partial => 'shared/sativa_associated_warning', :locals => { :contigs => [@primer_read.contig] } %>

          <%= render :partial => 'shared/issue_details', :locals => { :record => @primer_read } %>
        </div>

      <div class="vertical-spacer"></div>

      <%= f.submit 'Update', :class =>  'btn btn-default' %>

    <% end %>

  </div>

</div>