<% provide(:title, @contig.name) %>
<%= show_val_errors(@contig)%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contig <%= @contig.name %>
      <% if @contig.try(:isolate).try(:individual).try(:species) %>
          - <%= link_to(@contig.isolate.individual.species.name_for_display, edit_species_path(@contig.isolate.individual.species.id)) %>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">

    <%= form_for(@contig) do |f| %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <li class="active"><a href="#assembly" role="tab" data-toggle="tab">Assembly</a></li>
          <li><a href="#downloads" role="tab" data-toggle="tab">Downloads</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane" id="description">
            <br>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label 'Isolate' %>
              <% if @contig.isolate %>
                  <%= link_to '', edit_isolate_path(@contig.isolate), :class => "glyphicon glyphicon-share-alt" %>
              <% end %>
              <%= f.text_field :isolate_name , data: {autocomplete_source: filter_isolates_path} , class: 'form-control'%>
            </div>

            <div class="form-group">
              <%= f.label 'Marker' %>

              <%= f.collection_select(:marker_id, Marker.all, :id, :name, include_blank: true) %>
              <% if @contig.marker %>
                  <%= link_to '', edit_marker_path(@contig.marker), :class => "glyphicon glyphicon-share-alt" %>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :comment %>
              <%= f.text_field :comment, class: 'form-control' %>
            </div>

          </div>

          <div class="tab-pane active" id="assembly">
            <div class="vertical-spacer"></div>
            <span class="glyphicon glyphicon-align-center"></span> <%= link_to 'Assemble primer reads', overlap_contig_path %>

            <div class="vertical-spacer"></div>
            <div>
              <%= f.label :assembled, 'Assembly complete' %>
              <%= f.check_box :assembled  %>
            </div>
            <div >
              <%= f.label :imported, 'Externally edited & imported' %>
              <%= f.check_box :imported  %>
            </div>
            <div class="vertical-spacer"></div>
            <div class="form-group">
              <%= f.label 'Marker Sequence' %>
              <% if @contig.marker_sequence %>
                  <%= link_to '', edit_marker_sequence_path(@contig.marker_sequence), :class => "glyphicon glyphicon-share-alt" %>
              <% end %>
              <%= f.text_field :marker_sequence_name , data: {autocomplete_source: filter_marker_sequences_path} , class: 'form-control'%>
            </div>

            <div >
              <% if @contig.verified_by %>
                  <%begin%>
                      <%user= User.find(@contig.verified_by).name %>
                  <%rescue%>
                      <% user= '?'%>
                  <%end%>
                  Verified by <%=  user %> on <%= @contig.verified_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S")%>. <%= link_to '(Remove)', verify_contig_path(@contig) %><br><br>
              <% else %>
                  <% if @contig.verified %>
                      Verified on <%= @contig.verified_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S")%>. <%= link_to '(Remove)', verify_contig_path(@contig) %><br><br>
                  <% else %>
                      <%= link_to verify_contig_path(@contig) do %>
                          <span class = "glyphicon glyphicon-ok"></span> Verify
                      <% end %>
                  <% end %>

                  <br><br>
              <% end %>
            </div>

          </div>

          <div class="tab-pane" id="downloads">
            <br>
            <div class="form-group"><span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download aligned sequences as PDE file',  pde_contig_path %><br>
              <span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download aligned sequences as Fasta file',  fasta_contig_path %><br>
              <span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download trimmed sequences as Fasta file',  fasta_trimmed_contig_path %><br>
              <span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download raw sequences as Fasta file',  fasta_raw_contig_path %><br></div>
          </div>
        </div>
        <%= f.submit 'Update', :class =>  'btn btn-default'%>

        <div class="vertical-spacer"></div>
        <% if @contig.imported %>
            <p style="color: grey; font-size: smaller">Externally edited, imported contig. [Due to lack of information in imported files,   alignment of traces and quality scores to edited read sequences is not always available. App will try a re-alignment of externally edited primer read sequences and internally stored traces and quality scores later.]</p>
        <% end %>

    <% end %>

    <!-- draw contig alignment -->

    <% if @contig.primer_reads.assembled.count > 0 %>
        <table style="table-layout: fixed; border-collapse: collapse;" width="100%; ">
          <tr>
            <td valign="top" width="250px" style="padding:0; margin:0;">
              <div style="height: 50px;padding:0; margin:0;"></div>
              <div class="read-names">
                <% @contig.partial_cons.each do |partial_con| %>
                    <div id="partial-con" style="padding:0; margin:0;" >
                      <% partial_con.primer_reads.each do |read|%>
                          <div style="height: 60px;padding:0; margin:0;">
                            <%= link_to  do_not_use_for_assembly_primer_read_path(read), :title => "Do not use this read in assembly & re-assemble" do %>
                                <span class="glyphicon glyphicon-remove grey" title="Do not use in assembly"></span>
                            <% end %>
                            <%= link_to read.name, edit_primer_read_path(read) %>
                            <%= link_to  edit_primer_read_path(read), :target => "_blank", :title => "open in new tab" do %>
                                <span class="grey glyphicon glyphicon-share-alt"></span>
                            <% end %>
                          </div>
                      <%end %>
                      <div style="height: 60px; padding:0; margin:0;">
                        <b>Consensus</b>
                      </div>
                    </div>
                <% end %>
              </div>
            </td>
            <td valign="top" style="padding:0; margin:0;">
              <%= content_tag "div", id: "contig", data: {url: @contig.partial_cons.includes(:primer_reads) } do %>
              <% end %>
            </td>
          </tr>
        </table>
    <% end %>

    <!-- list all reads again, grouped by status-->

    <% if @contig.primer_reads.not_assembled.count > 0 %>
        <p>
          <b>Not assembled:</b><br>
          <% @contig.primer_reads.not_assembled.each do |read|%>

              <%= link_to  do_not_use_for_assembly_primer_read_path(read), :title => "Do not use this read in assembly & re-assemble" do %>
                  <span class="glyphicon glyphicon-remove grey" title=""></span>
              <% end %>
              <%= link_to read.name, edit_primer_read_path(read) %>
              <%= link_to  edit_primer_read_path(read), :target => "_blank", :title => "open in new tab" do %>
                  <span class="grey glyphicon glyphicon-share-alt"></span>
              <% end %>
              <br>
          <%end %>
        </p>
    <% end %>

    <% if @contig.primer_reads.not_used_for_assembly.count > 0 %>
        <p>
          <b>Not to be used in assembly:</b><br>
          <% @contig.primer_reads.not_used_for_assembly.each do |read|%>
              <%= link_to  use_for_assembly_primer_read_path(read), :title => "Use this read in assembly & re-assemble" do %>
                  <span class="glyphicon glyphicon-plus grey" title=""></span>
              <% end %>
              <%= link_to read.name, edit_primer_read_path(read) %>
              <%= link_to  edit_primer_read_path(read), :target => "_blank", :title => "open in new tab" do %>
                  <span class="grey glyphicon glyphicon-share-alt"></span>
              <% end %>
              <br>
          <%end %>
        </p>
    <% end %>

    <% if @contig.primer_reads.not_trimmed.count > 0 %>
        <p>
          <b>Not trimmed:</b><br>
          <% @contig.primer_reads.not_trimmed.each do |read|%>
              <%= link_to read.name, edit_primer_read_path(read) %>
              <%= link_to  edit_primer_read_path(read), :target => "_blank", :title => "open in new tab" do %>
                  <span class="grey glyphicon glyphicon-share-alt"></span>
              <% end %>
              <br>
          <%end %>
        </p>
    <% end %>

    <% if @contig.primer_reads.unprocessed.count > 0 %>
        <p>
          <b>Unprocessed:</b><br>
          <% @contig.primer_reads.unprocessed.each do |read|%>
              <%= link_to read.name, edit_primer_read_path(read) %>
              <%= link_to  edit_primer_read_path(read), :target => "_blank", :title => "open in new tab" do %>
                  <span class="grey glyphicon glyphicon-share-alt"></span>
              <% end %>
              <br>
          <%end %>
        </p>
    <% end %>

  </div>
</div>