<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contigs</h3>
  </div>
  <div class="panel-body">
    <table id="contigs" data-source="<%= contigs_url(format: "json") %>">

      <thead>
      <tr>
        <th>Name</th>
        <th>Assembly complete?</th>
        <td>Last updated</td>
        <td></td>
      </tr>
      </thead>

      <tbody>
      </tbody>

    </table>
  </div>
</div>

<p>
 Assembly complete for <%= Contig.where(:assembled => true).count %> contigs.
</p>

<%= link_to 'Perform read assembly for all contigs with incomplete assembly', assemble_all_contigs_path %><br>
<%= link_to 'Download pde files for all', pde_all_contigs_path %><br>
<%= link_to 'New Contig', new_contig_path %>