<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contigs</h3>
  </div>
  <div class="panel-body">

    <div class="wideTable">
      <%= link_to 'Advanced Contig Search', new_contig_search_path, class: 'btn btn-default pull-right', :style => 'margin-bottom: 5px' %>
      <table id="contigs" data-source="<%= contigs_url(format: "json") %>" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>Specimen</th>
          <th>Assembly complete?</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>

  </div>
</div>

<% if current_user&.admin? || current_user&.supervisor? %>
  <div class="well">
    <p><b>Import Contigs from PDE file:</b></p>
    <%= form_tag import_contigs_path, multipart: true do %>
      <%= file_field_tag :file, { class:"form-control" } %>
      <br>
      <%= label_tag 'Verified by'%>
      <%= collection_select :contig, :verified_by, User.order(name: :asc), :id, :name, { include_blank: true }, { class:"form-control" } %>
      <br>
      <%= label_tag 'Marker'%>
      <%= collection_select :contig, :marker_id, Marker.all, :id, :name, { include_blank: true }, { class:"form-control" } %>
      <br>
      <%= submit_tag "Import", { class:"form-control" } %>
    <% end %>
</div>
<% end %>

<p>
  Assembly complete for <%= Contig.where(:assembled => true).count %> contigs.
</p>

<%= link_to 'Perform read assembly for all contigs with incomplete assembly', assemble_all_contigs_path, class: 'btn btn-default' %><br>