<% provide(:title, @isolate.display_name) %>
<%= show_val_errors(@isolate)%>
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Isolate <%= @isolate.display_name %>

      <% if @isolate.try(:individual).try(:taxon) %>
        - <%=link_to(@isolate.individual.taxon.scientific_name, edit_taxon_path(@isolate.individual.taxon.id))  %>
      <% end %>
    </h3>
  </div>

  <div class="panel-body">
    <%= form_for(@isolate) do |f| %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <li><a href="#aliquots" role="tab" data-toggle="tab">Aliquots</a></li>
          <li><a href="#assigned_clusters" role="tab" data-toggle="tab">Read Clusters</a></li>
          <li><a href="#assigned_contigs" role="tab" data-toggle="tab">Contigs</a></li>
          <li><a href="#assigned_marker_sequences" role="tab" data-toggle="tab">Marker Sequences</a></li>
          <%= render :partial => 'shared/sativa_nav_tab', :locals => { :marker_sequences => @isolate.marker_sequences } %>
        </ul>

        <div class="tab-content">

          <div class="tab-pane active " id="description">
            <br>

            <div class="form-group">
              <%= f.label :lab_isolation_nr, 'Lab isolation number' %>
              <%= f.text_field :lab_isolation_nr,  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :dna_bank_id, 'DNA Bank ID' %>
              <%= f.text_field :dna_bank_id,  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label @isolate, 'Individual / Specimen' %>
              <% if @isolate.individual %>
                  <%= link_to '', edit_individual_path(@isolate.individual), :class => 'glyphicon glyphicon-share-alt', :title => "go to #{@isolate.individual.specimen_id} " %>
              <% end %>
              <%= f.collection_select :individual_id, Individual.order(:specimen_id), :id, :specimen_id, { include_blank: true }, { class:"form-control" } %>
            </div>

            <div class="form-group">
              <%= f.label :tissue_id, 'Tissue type' %>
              <%= f.collection_select(:tissue_id, Tissue.all.order(:name), :id, :name, { :include_blank => true }, { class: 'form-control' }) %>
            </div>

            <div class="form-group">
              <%= f.label :plant_plate_id, 'Plate (Tissue)' %>
              <%= f.collection_select(:plant_plate_id, PlantPlate.all.order(:name), :id, :name, { :include_blank => true }, { class: 'form-control' }) %>
            </div>

            <div class="form-group">
              <%= f.label :well_pos_plant_plate_plate, 'Well position in tissue plate' %>
              <%= f.text_field :well_pos_plant_plate,  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.check_box :negative_control %>
              <%= f.label :negative_control, 'Negative control' %>
            </div>

            <div class="form-group">
              <%= f.label :user_id, 'Isolated by' %>
              <%= f.collection_select(:user_id, User.all.order(:name), :id, :name, { :include_blank => true }, { class: 'form-control' }) %>
              <%= f.label :isolation_date, 'on' %><br>
              <%= f.text_field :isolation_date, class: 'form-control' %>
            </div>

            <div class="vertical-spacer"></div>

            <%= render :partial => 'shared/associated_projects', :locals => { :form => f } %>

          </div>

          <div class="tab-pane" id="aliquots">
            <br>
            <div style="overflow: auto;">
              <table  class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                  <th>Original</th>
                  <th>Concentration (ng/µl)</th>
                  <th>Lab</th>
                  <th>DNA Plate</th>
                  <th>Well Position in DNA Plate</th>
                  <th>Micronic Tube</th>
                  <th>Comment</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                  <tr>
                    <%= f.nested_fields_for :aliquots, @isolate.aliquots.order(is_original: :desc, updated_at: :asc), wrapper_tag: :tr do |aliquots_form| %>
                      <td><%= aliquots_form.check_box :is_original, class: 'form-control' %></td>
                      <td><%= aliquots_form.text_field :concentration, class: 'form-control' %></td>
                      <td><%= aliquots_form.collection_select(:lab_id, Lab.all, :id, :labcode, { :include_blank => '<no selection>' }, { class: 'form-control' }) %></td>
                      <td><%= aliquots_form.collection_select(:micronic_plate_id, MicronicPlate.all, :id, :micronic_plate_id, { :include_blank => '<no selection>' }, { class: 'form-control' }) %></td>
                      <td><%= aliquots_form.text_field :well_pos_micronic_plate, class: 'form-control' %></td>
                      <td><%= aliquots_form.text_field :micronic_tube, class: 'form-control' %></td>
                      <td><%= aliquots_form.text_area :comment, class: 'form-control' %></td>
                      <td><%= aliquots_form.remove_nested_fields_link 'Remove', data: { confirm: "Are you sure?\n(You need to update the isolate to permanently remove the aliquot.)" } %></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>

            <p>
              <%= f.add_nested_fields_link :aliquots, class: 'btn btn-default', title: 'Add new Aliquot' do %>
                <span>Add new Aliquot</span>
              <% end %>
              <br>
              (You need to update the isolate to permanently add the aliquot.)
            </p>
          </div>

          <div class="tab-pane" id="assigned_clusters">
            <% if @isolate.id %>
              <br>
              <div class="wideTable">
                <table id="clusters" data-source="<%= show_clusters_isolate_url(format: "json") %>" class="table table-striped table-hover table-bordered">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>NGS Run</th>
                    <th>Species</th>
                    <th>Specimen</th>
                    <th>Last updated</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>

          <div class="tab-pane" id="assigned_contigs">
            <br>
            <table  class="table table-striped table-hover table-bordered">

              <thead>
              <tr>
                <th>Name</th>
              </tr>
              </thead>

              <tbody>
              <% @isolate.contigs.each do |c| %>
                <tr>
                  <td>
                    <%= link_to c.name,edit_contig_path(c) %>
                  </td>
                </tr>
              <% end %>
              </tbody>

            </table>

          </div>

          <div class="tab-pane" id="assigned_marker_sequences">
            <br>
            <table  class="table table-striped table-hover table-bordered">

              <thead>
              <tr>
                <th>Name</th>
              </tr>
              </thead>

              <tbody>
              <% @isolate.marker_sequences.each do |c| %>
                  <tr>
                    <td>
                      <%= link_to c.name,edit_marker_sequence_path(c) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>

            </table>
          </div>

          <%= render :partial => 'shared/sativa_associated_warning', :locals => { :contigs => @isolate.contigs.includes(:marker_sequence) } %>

        </div>

      <%= f.submit 'Update', :class =>  'btn btn-default' %>

    <% end %>
  </div>
</div>