<% provide(:title, @isolate.lab_nr) %>
<%= show_val_errors(@isolate)%>
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Isolate <%= @isolate.lab_nr %>

      <% if @isolate.try(:individual).try(:species) %>
          - <%=link_to(@isolate.individual.species.name_for_display, edit_species_path(@isolate.individual.species.id))  %>
      <% end %>
    </h3>
  </div>

  <div class="panel-body">
    <%= form_for(@isolate) do |f| %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <li ><a href="#assigned_contigs" role="tab" data-toggle="tab">Contigs</a></li>
          <li><a href="#assigned_marker_sequences" role="tab" data-toggle="tab">Sequences</a></li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane active " id="description">
            <br>

            <div class="form-group">
              <%= f.label :lab_nr, 'Lab isolation number' %>
              <%= f.text_field :lab_nr,  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :dna_bank_id, 'DNA Bank ID' %>
              <%= f.text_field :dna_bank_id,  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label @isolate, 'Individual / Specimen' %>
              <% if @isolate.individual %>
                  <%= link_to '', edit_individual_path(@isolate.individual), :class => 'glyphicon glyphicon-share-alt', :title => "go to #{@isolate.individual.specimen_id} " %>
              <% end %>
              <%= f.text_field :individual_name, data: {autocomplete_source: filter_individuals_path}, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :tissue_id, 'Tissue type' %>
              <%= f.collection_select(:tissue_id, Tissue.all.order(:name), :id, :name, :include_blank => '<no selection>') %>
            </div>

            <div class="form-group">
              <%= f.label :plant_plate_id, 'Plate (Tissue)' %>
              <%= f.collection_select(:plant_plate_id, PlantPlate.all.order(:name), :id, :name, :include_blank => '<no selection>') %>
            </div>

            <div class="form-group">
              <%= f.label :well_pos_plant_plate_plate, 'Well position in tissue plate' %>
              <%= f.text_field :well_pos_plant_plate,  class: 'form-control' %>
            </div>

            <div id="isolate_copies">

              <div class="isolate-copy">

                <div class="isolate-copy-label">DNA G5o</div>

                <div class="form-group">
                  <%= f.label 'Lab' %>
                  <%= f.collection_select(:lab_id_orig, Lab.all, :id, :labcode, :include_blank => '<no selection>') %>
                </div>

                <div  class="form-group">
                  <%= f.label :micronic_plate_id_orig, 'Plate (DNA)' %>
                  <% if @isolate.micronic_plate_id_orig %>
                      <%= link_to '', edit_micronic_plate_path(@isolate.micronic_plate_id_orig),:class => 'glyphicon glyphicon-share-alt', :title => "go to micronic plate" %>
                  <% end %>
                  <%= f.collection_select(:micronic_plate_id_orig, MicronicPlate.all, :id, :micronic_plate_id, :include_blank => '<no selection>') %>
                </div>

                <% if @isolate.micronic_plate_id_orig %>
                  <div class="form-group" >
                    <% micronic_plate_orig = MicronicPlate.includes(:lab_rack).find(@isolate.micronic_plate_id_orig) %>
                    <% if micronic_plate_orig %>
                        <b>Location in Rack:</b>
                        <%= micronic_plate_orig.location_in_rack %>
                        <% if micronic_plate_orig.lab_rack %>
                            -<b> Rack:</b>
                            <% lab_rack = micronic_plate_orig.lab_rack %>
                            <%= lab_rack.rackcode %>
                            -<b> Shelf:</b>
                            <%= lab_rack.shelf %>
                            <% if lab_rack.freezer %>
                                -<b> Freezer:</b>
                                <%== lab_rack.freezer.freezercode %>
                            <% end %>
                        <% end %>
                    <% end %>
                  </div>
                <% end %>

                <div  class="form-group">
                  <%= f.label :well_pos_micronic_plate_orig, 'Well position in DNA plate' %>
                  <%= f.text_field :well_pos_micronic_plate_orig,  class: 'form-control' %>
                </div>

                <div  class="form-group">
                  <%= f.label :micronic_tube_id_orig, 'Micronic tube ID' %>
                  <%= f.text_field :micronic_tube_id_orig,  class: 'form-control' %>
                </div>

                <div class="form-group" >
                  <%= f.label :concentration_orig, 'Concentration (ng/µl)' %>
                  <%= f.text_field :concentration_orig, class: 'form-control' %>
                </div>

              </div>

              <div class="isolate-copy">

                <div class="isolate-copy-label">DNA G5c</div>

                <div class="form-group">
                  <%= f.label 'Lab' %>
                  <%= f.collection_select(:lab_id_copy, Lab.all, :id, :labcode, :include_blank => '<no selection>') %>
                </div>

                <div  class="form-group">
                  <%= f.label :micronic_plate_id_copy, 'Plate (DNA)' %>
                  <% if @isolate.micronic_plate_id_copy %>
                      <%= link_to '', edit_micronic_plate_path(@isolate.micronic_plate_id_copy),:class => 'glyphicon glyphicon-share-alt', :title => "go to micronic plate" %>
                  <% end %>
                  <%= f.collection_select(:micronic_plate_id_copy, MicronicPlate.all, :id, :micronic_plate_id, :include_blank => '<no selection>') %>
                </div>

                <% if @isolate.micronic_plate_id_copy %>
                  <div class="form-group" >
                    <% micronic_plate_copy = MicronicPlate.includes(:lab_rack).find(@isolate.micronic_plate_id_copy) %>
                    <% if micronic_plate_copy %>
                        <b>Location in Rack:</b>
                        <%= micronic_plate_copy.location_in_rack %>
                        <% if micronic_plate_copy.lab_rack %>
                            -<b> Rack:</b>
                            <% lab_rack = micronic_plate_copy.lab_rack %>
                            <%= lab_rack.rackcode %>
                            -<b> Shelf:</b>
                            <%= lab_rack.shelf %>
                            <% if lab_rack.freezer %>
                                -<b> Freezer:</b>
                                <%== lab_rack.freezer.freezercode %>
                            <% end %>
                        <% end %>
                    <% end %>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :well_pos_micronic_plate_copy, 'Well position in DNA plate' %>
                  <%= f.text_field :well_pos_micronic_plate_copy,  class: 'form-control' %>
                </div>

                <div class="form-group" >
                  <%= f.label :micronic_tube_id_copy, 'Micronic tube ID' %>
                  <%= f.text_field :micronic_tube_id_copy,  class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :concentration_copy, 'Concentration (ng/µl)' %>
                  <%= f.text_field :concentration_copy, class: 'form-control' %>
                </div>
              </div>

            </div>

            <div class="form-group">
              <%= f.label :negative_control, 'Negative control' %>
              <%= f.check_box :negative_control  %>
            </div>

            <div class="form-group">
              Isolated by
              <%= f.collection_select(:user_id, User.all.order(:name), :id, :name, :include_blank => '<no selection>') %>
              on
              <%= f.datetime_select(:isolation_date, :include_blank => '<no date selected>') %>
            </div>

          </div>

          <div class="tab-pane" id="assigned_contigs">
            <br>
            <table  class="table table-striped table-hover table-bordered">

              <thead>
              <tr>
                <th>Name</th>
              </tr>
              </thead>

              <tbody>
              <% @isolate.contigs.each do |c| %>
                  <tr>
                    <td>
                      <%= link_to c.name,edit_contig_path(c) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>

            </table>

          </div>

          <div class="tab-pane" id="assigned_marker_sequences">
            <br>
            <table  class="table table-striped table-hover table-bordered">

              <thead>
              <tr>
                <th>Name</th>
              </tr>
              </thead>

              <tbody>
              <% @isolate.marker_sequences.each do |c| %>
                  <tr>
                    <td>
                      <%= link_to c.name,edit_marker_sequence_path(c) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>

            </table>
          </div>

        </div>

        <%= f.submit 'Update', :class =>  'btn btn-default' %>

    <% end %>
  </div>
</div>