<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Isolates</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">

      <table id="isolates" data-source="<%= isolates_url(format: 'json') %>" class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Isolation number</th>
          <th>Species</th>
          <th>Individual: Specimen/Voucher id</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>

    <br>

    <% if current_user.email == 'kaimueller@uni-muenster.de' %>
        <div class="well">
          Import Isolates / Specimen (Individuals) from Excel file:<p></p>
          <%= form_tag import_isolates_path, multipart: true do %>
              <%= file_field_tag :file %>
              <br>
              <%= submit_tag "Import" %>
          <% end %>
        </div>
    <% end %>

  </div>

</div>

<%= link_to ' New Isolate', new_isolate_path %>


<!--Duplicates-->
<hr>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Duplicate Isolates</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">

      <table class="table table-bordered">

        <thead>
        <tr>
          <th>Isolation number</th>
          <th>Species</th>
          <th>Individual: Specimen/Voucher id</th>
          <th>Contigs</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <!--get list w duplicates-->
        <% a=[] %>
        <% Isolate.select("lab_nr").all.each do |i| %>
            <% a << i.lab_nr %>
        <% end %>

        <% d=a.select{ |e| a.count(e) > 1 }.uniq %>

        <tbody>
        <% i=0 %>
        <% d.each do |duplicate_isolate| %>

            <% if (i % 2 == 0) %>
                <% color = "#f5f5f5" %>
            <% else %>
                <% color = "white" %>
            <% end %>

            <% Isolate.includes(:individual => :species).where(:lab_nr => duplicate_isolate).each do |isolate| %>
                <tr style="background-color: <%=color%>">
                  <td><%= link_to isolate.lab_nr, edit_isolate_path(isolate) %></td>
                  <td>
                    <% if isolate.individual and isolate.individual.species %>
                        <%= link_to isolate.individual.species.name_for_display, edit_species_path(isolate.individual.species)%>
                    <% end %>
                  </td>
                  <td>
                    <% if isolate.individual %>
                        <%= link_to isolate.individual.specimen_id, edit_individual_path(isolate.individual)%>
                    <% end %>
                  </td>
                  <td>
                    <%=isolate.contigs.count%>
                  </td>
                  <td> <%= isolate.updated_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td><%= link_to 'Delete', isolate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            <% i+=1 %>
        <% end %>
        </tbody>

      </table>
    </div>

    <br>

  </div>

</div>


<!-- Unassigned-->

<hr>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Isolates where no Specimen could be assigned:</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">

      <table class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Name</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>


        <tbody>

        <% Isolate.where(:individual => nil).each do |isolate| %>

            <tr>
              <td><%= link_to isolate.lab_nr, edit_isolate_path(isolate) %></td>

              <td> <%= isolate.updated_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td><%= link_to 'Delete', isolate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

        <% end %>
        </tbody>

      </table>
    </div>

    <br>

  </div>

</div>



