<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Isolates</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">

      <table id="isolates" data-source="<%= isolates_url(format: 'json') %>" class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>DNA Bank ID</th>
          <th>Lab isolation number</th>
          <th>Species</th>
          <th>Individual: Specimen ID</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>

    <br>

    <% if user_signed_in? %>
      <div class="well">
        <p>Import isolates and specimens from table file <%= link_to '(Download example / template file)', 'templates/Isolates_Specimen+upload+template.xls' %>:</p>

        <%= form_tag import_isolates_path, multipart: true do %>
            <%= file_field_tag :file %>
            <br>
            <%= submit_tag "Import", :class => 'btn btn-default' %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>

<p>
  <%= link_to new_isolate_path, class: 'btn btn-default', title: 'Create a new isolate entry' do %>
    <span class="glyphicon glyphicon-unchecked"></span>
  <% end %>
  Create a new isolate entry
</p>
