<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Isolates</h3>
  </div>
  <div class="panel-body">

    <div class="well">
      Import Isolates / Specimen (Individuals) from Excel file:<p></p>
      <%= form_tag import_isolates_path, multipart: true do %>
          <%= file_field_tag :file %>
          <br>
          <%= submit_tag "Import" %>
      <% end %>
    </div>

    <table id="isolates" data-source="<%= isolates_url(format: 'json') %>">

      <thead>
      <tr>
        <th>Isolation number</th>
        <th>Species</th>
        <th>Individual: Specimen/Voucher id</th>
        <th>Last updated</th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      </tbody>
    </table>
  </div>

</div>
<%= link_to 'New Isolate', new_isolate_path %>

