<%= show_val_errors(@species)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @species.name_for_display %></h3>
  </div>

  <div class="panel-body">

    <%= form_for(@species) do |f| %>

        <div class="form-group">
          <%= f.label 'Genus' %>
          <%= f.text_field :genus_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Species' %>
          <%= f.text_field :species_epithet, class: 'form-control' %>
        </div>


        <div class="form-group">
          <%= f.label 'Author' %>

          <%= f.text_field :author, class: 'form-control' %>

        </div>

        <div class="form-group">
          <%= f.label 'Subspecies' %>

          <%= f.text_field :infraspecific, class: 'form-control' %>

        </div>

        <div class="form-group">
          <%= f.label 'Author' %>
          <%= f.text_field :author_infra, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Family' %>
          <% if @species.family %>
              <%= link_to '', edit_family_path(@species.family), :class => "glyphicon glyphicon-share-alt" %>
          <% end %>
          <%= f.text_field :family_name , data: {autocomplete_source: filter_families_path} , class: 'form-control'%>
        </div>

        <div class="form-group">
          <%= f.label 'German name' %>

          <%= f.text_field :german_name, class: 'form-control' %>

        </div>

        <div class="form-group">
          <%= f.label 'Comment' %>

          <%= f.text_area :comment, class: 'form-control' %>

        </div>

        <%= f.submit 'Update', :class =>  'btn btn-primary'%>

    <% end %>

  </div>

</div>

<!--show subssp if any -->
<% unless @species.infraspecific? %>
    <% str=@species.species_component %>
    <% a = Species.where(:species_component => str)%>
    <% if a.count > 1 %>


        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">Subspecies</h3>
          </div>

          <div class="panel-body">

            <div class="wideTable">
              <table class="table table-striped table-hover table-bordered">

                <thead>
                <tr>
                  <th>Name</th>
                </tr>
                </thead>

                <tbody>

                <% a.each do |subsp| %>

                    <% if subsp.infraspecific? %>

                    <tr><td><%= link_to subsp.name_for_display, edit_species_path(subsp) %></td></tr>

                    <% end%>

                <% end %>

                </tbody>

              </table></div>

          </div>

        </div>

    <% end %>

<% end %>

<!-- show assigned indiv.-->

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Individuals/Specimen</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">
      <table id="individuals" data-source="<%= show_individuals_species_url(format: "json") %>" class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Specimen ID</th>
          <th>Species</th>
          <th>Herbarium</th>
          <th>Collector</th>
          <th>Collection Nr</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>

      </table></div>

  </div>

</div>