<%= show_val_errors(@species)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @species.name_for_display %></h3>
  </div>

  <div class="panel-body">

    <%= form_for(@species) do |f| %>


        <!-- check if subsp.-->
        <% a=[] %>

        <% unless @species.infraspecific? %>
            <% str=@species.species_component %>
            <% a = Species.where(:species_component => str)%>
        <% end %>


        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <% if a.count > 1 %><li><a href="#subspecies" role="tab" data-toggle="tab">Subspecies</a></li><% end %>
          <li class="active"><a href="#specimen" role="tab" data-toggle="tab">Specimen</a></li>
          <li><a href="#info" role="tab" data-toggle="tab">Info</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane" id="description">

            <br>
            <div class="form-group">
              <%= f.label 'Genus' %>
              <%= f.text_field :genus_name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label 'Species' %>
              <%= f.text_field :species_epithet, class: 'form-control' %>
            </div>


            <div class="form-group">
              <%= f.label 'Author' %>

              <%= f.text_field :author, class: 'form-control' %>

            </div>

            <div class="form-group">
              <%= f.label 'Subspecies' %>

              <%= f.text_field :infraspecific, class: 'form-control' %>

            </div>

            <div class="form-group">
              <%= f.label 'Author' %>
              <%= f.text_field :author_infra, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label 'Family' %>
              <% if @species.family %>
                  <%= link_to '', edit_family_path(@species.family), :class => "glyphicon glyphicon-share-alt" %>
              <% end %>
              <%= f.text_field :family_name , data: {autocomplete_source: filter_families_path} , class: 'form-control'%>
            </div>

            <div class="form-group">
              <%= f.label 'German name' %>

              <%= f.text_field :german_name, class: 'form-control' %>

            </div>

            <div class="form-group">
              <%= f.label 'Comment' %>

              <%= f.text_area :comment, class: 'form-control' %>

            </div>

            <%= f.submit 'Update', :class =>  'btn btn-primary'%>

          </div>


          <% if a.count > 1 %>
              <div class="tab-pane" id="subspecies">

                <br>


                <div class="wideTable">
                  <table class="table table-striped table-hover table-bordered">


                    <tbody>

                    <% a.each do |subsp| %>

                        <% if subsp.infraspecific? %>

                            <tr><td><%= link_to subsp.name_for_display, edit_species_path(subsp) %></td></tr>

                        <% end%>

                    <% end %>

                    </tbody>

                  </table></div>

              </div>
          <% end %>

          <div class="tab-pane active" id="specimen">
            <br>
            <div class="wideTable">
              <table id="individuals" data-source="<%= show_individuals_species_url(format: "json") %>" class="table table-striped table-hover table-bordered">

                <thead>
                <tr>
                  <th>Specimen ID</th>
                  <th>Species</th>
                  <th>Herbarium</th>
                  <th>Collector</th>
                  <th>Collection Nr</th>
                  <th>Last updated</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                </tbody>

              </table>
            </div>
          </div>


          <div class="tab-pane" id="info">
            <br>
            <% url="http://www.google.com/search?q=#{@species.genus_name}+#{@species.species_epithet}" %>
            <div>
              <a target=”_blank” href=<%=url %>>Search Google ...</a>
            </div>
            <br>

            <% url="http://de.m.wikipedia.org/wiki/#{@species.name_for_display}" %>


            <div class="wideTable">
              <object id="wiki" type="text/html" data=<%= url %> width="800px" height="600px">
              </object>
            </div>

            <br>

            <div>
              <a target=”_blank” href=<%=url %>>Open in new tab</a>
            </div>
            <br>

          </div>


        </div>  <!-- end tab content -->

    <% end %>

  </div>

</div>


<!--&lt;!&ndash;right&ndash;&gt;
<div class="col-md-8">



</div>-->
