<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Species</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">
      <table id="species" data-source="<%= species_index_url(format: "json") %>" class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Species</th>
          <th>Author</th>
          <th>Family</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>
    <br>

    <% if user_signed_in? %>
      <div class="well">
        Import Taxa from Excel file <%= link_to '(Download example / template file)', 'https://s3-eu-west-1.amazonaws.com/gbol5/Species+upload+template.xls' %>:
        <%= form_tag import_gbolii_species_index_path, multipart: true do %>
            <%= file_field_tag :file %>
            <br>
            <%= submit_tag "Import", class: 'btn btn-default' %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Export species to xls…', species_create_xls_path, :class => 'btn btn-default' %>
    <%= link_to 'Download last species export', species_xls_path, :class => 'btn btn-default' %>
  <%end %>
</p>
<%= link_to ' New Species', new_species_path %>