<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Species</h3>
  </div>

  <div class="panel-body">

    <div class="well">
      Import Taxa from Excel file:<p></p>
      <%= form_tag import_species_index_path, multipart: true do %>
          <%= file_field_tag :file %>
          <br>
          <%= submit_tag "Import" %>
      <% end %>
    </div>

    <div class="wideTable"><table id="species" data-source="<%= species_index_url(format: "json") %>">

      <thead>
      <tr>
        <th>Species</th>
        <th>Author</th>
        <th>Family</th>
        <th>Last Updated</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      </tbody>

    </table></div>

  </div>
</div>
<span class="glyphicon glyphicon-plus"></span><%= link_to ' New Species', new_species_path %><br>
<span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download as Excel file',  species_index_path(format: "xls") %><br>