<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Species</h3>
  </div>
  <div class="panel-body">

    <div class="well">
      Import Taxa from Excel file:<p></p>
      <%= form_tag import_species_index_path, multipart: true do %>
          <%= file_field_tag :file %>
          <br>
          <%= submit_tag "Import" %>
      <% end %>
    </div>

    <table id="species">

      <thead>
      <tr>
        <th>Species</th>
        <th>Author</th>
        <th>Family</th>
        <th>Last Updated</th>
        <!--<th>Order</th>-->
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @species.each do |species| %>
          <tr>

            <td><%= link_to species.name_for_display, edit_species_path(species) %></td>

            <td><%= species.author %></td>

            <td>
              <% if species.family %>
                  <%= link_to species.family.name, edit_family_path(species.family) %>
              <% end %>
            </td>


            <td><%= species.updated_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S") %></td>

            <td><%= link_to 'Delete', species, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
      <% end %>
      </tbody>
    </table>


  </div>
</div>
<span class="glyphicon glyphicon-plus"></span><%= link_to ' New Species', new_species_path %><br>
<span class="glyphicon glyphicon-arrow-down"></span><%= link_to ' Download as Excel file',  species_index_path(format: "xls") %><br>