<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @species.author %>
</p>

<p>
  <strong>Genus name:</strong>
  <%= @species.genus_name %>
</p>

<p>
  <strong>Species epithet:</strong>
  <%= @species.species_epithet %>
</p>

<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
