<div class="panel panel-default">
  <div class="panel-heading">
    <h3  class="panel-title">Advanced Contig Search</h3>
  </div>

  <div class="panel-body">
    <%= form_for @contig_search do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.check_box :assembled, as: :boolean %><%= label_tag(:assembled, "Assembled") %>
          <%= f.check_box :unassembled, as: :boolean %><%= label_tag(:unassembled, "Unassembled") %>
        </div>
        <div>
          <%= f.check_box :verified, as: :boolean %><%= label_tag(:verified, "Verified") %>
          <%= f.check_box :unverified, as: :boolean %><%= label_tag(:unverified, "Unverified") %>
        </div>
        <div class="field">
          <%= f.label :marker_id %><br />
          <%= f.collection_select :marker_id, Marker.order(:name), :id, :name, include_blank: true %>
        </div>
        <div class="field">
          <%= f.label :specimen %><br />
          <%= f.text_field :specimen %>
        </div>
        <div class="field">
          <%= f.label :species %><br />
          <%= f.text_field :species %>
        </div>
        <div class="field">
          <%= f.label :family %><br />
          <%= f.text_field :family %>
        </div>
        <div class="field">
          <%= f.label :order_id %><br />
          <%= f.collection_select :order_id, Order.order(:name), :id, :name, include_blank: true %>
        </div>
        <br>
        <div class="actions"><%= f.submit "Search" %></div>
    <% end %>
  </div>
</div>
