<div class="panel panel-default">
  <div class="panel-heading">
    <h3  class="panel-title">Advanced Contig Search</h3>
  </div>

  <div class="panel-body">
    <%= form_for @contig_search do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.collection_select :name, Contig.order(:name), :id, :name, include_blank: true %>
        </div>
        <br/>
        <div>
          <%= f.radio_button :assembled, "assembled" %>
          <%= f.label :assembled, "Assembled" %>
          <%= f.radio_button :assembled, "unassembled" %>
          <%= f.label :unassembled, "Unassembled" %>
          <%= f.radio_button :assembled, "both", :checked => true %>
          <%= f.label :both_assembly, "Both" %>
        </div>
        <div>
          <%= f.radio_button :verified, "verified" %>
          <%= f.label :assembled, "Verified" %>
          <%= f.radio_button :verified, "unverified" %>
          <%= f.label :unverified, "Unverified" %>
          <%= f.radio_button :verified, "both", :checked => true %>
          <%= f.label :both_verify, "Both" %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :marker_id %><br />
          <%= f.collection_select :marker_id, Marker.order(:name), :id, :name, include_blank: true %>
        </div>
        <div class="field">
          <%= f.label :specimen %><br />
          <%= f.collection_select :specimen, Individual.order(:specimen_id), :id, :specimen_id, include_blank: true %>
        </div>
        <div class="field">
          <%= f.label :species %><br />
          <%= f.collection_select :species, Species.order(:composed_name), :id, :composed_name, include_blank: true %>
        </div>
        <div class="field">
          <%= f.label :family %><br />
          <%= f.collection_select :family, Family.order(:name), :id, :name, include_blank: true %>
        </div>
        <div class="field">
          <%= f.label :order_id %><br />
          <%= f.collection_select :order_id, Order.order(:name), :id, :name, include_blank: true %>
        </div>
        <div class="field">
          <%= f.label :age, "Created between" %><br />
          <%= f.text_field :min_age, :size => 7 %> and &nbsp;&nbsp;<%= f.text_field :max_age, :size => 7 %>
        </div>
        <div class="field">
          <%= f.label :update, "Updated between" %><br />
          <%= f.text_field :min_update, :size => 7 %> and &nbsp;&nbsp;<%= f.text_field :max_update, :size => 7 %>
        </div>
        <br>
        <div class="actions"><%= f.submit "Search" %></div>
    <% end %>
  </div>
</div>
