

<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @family.author %>
</p>

<p>
  <strong>Order:</strong>
  <%= @family.order.name if @family.order.present?%>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
