<%= show_val_errors(@author)%>
<div class="authform">
  <h4><%= @author.name%></h4>

<%= form_for(@author) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
  </div>


      <%= f.submit 'Update', :class => 'button right' %>

<% end %>
</div>