<%= show_val_errors(@individual)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Individual</h3>
  </div>

  <div class="panel-body">
    <%= form_for(@individual) do |f| %>

        <!--t.string   "specimen_id"-->
        <div class="form-group">
          <%= f.label 'Specimen ID / Voucher ID' %>
          <%= f.text_field :specimen_id, class: 'form-control' %>
        </div>

        <!--t.string   "DNA_bank_id"-->
        <div class="form-group">
          <%= f.label 'DNA Bank ID' %>
          <%= f.text_field :DNA_bank_id, class: 'form-control' %>
        </div>

        <!--t.integer  "species_id"-->
        <div class="form-group">
          <%= f.label 'Species' %>
          <% if @individual.species %>
              <%= link_to '', edit_species_path(@individual.species), :class => 'glyphicon glyphicon-share-alt', :title => "go to #{@individual.species.composed_name} " %>
          <% end %>
          <%= f.text_field :species_name, data: {autocomplete_source: filter_species_index_path} , class: 'form-control'%>
        </div>

        <!--t.string   "herbarium"-->
        <div class="form-group">
          <%= f.label :herbarium %>
          <%= f.text_field :herbarium, class: 'form-control' %>
        </div>

        <!--t.string   "voucher"-->
        <div class="form-group">
          <%= f.label :voucher %>
          <%= f.text_field :voucher, class: 'form-control' %>
        </div>
        <!--t.string   "country"-->
        <div class="form-group">
          <%= f.label :country %>
          <%= f.text_field :country, class: 'form-control' %>
        </div>
        <!--t.string   "state_province"-->
        <div class="form-group">
          <%= f.label 'State/Province' %>
          <%= f.text_field :state_province, class: 'form-control' %>
        </div>
        <!--t.text     "locality"-->
        <div class="form-group">
          <%= f.label :locality %>
          <%= f.text_area :locality, class: 'form-control' %>
        </div>
        <!--t.string   "latitude"-->
        <div class="form-group">
          <%= f.label :latitude %>
          <%= f.text_field :latitude, class: 'form-control' %>
        </div>
        <!--t.string   "longitude"-->
        <div class="form-group">
          <%= f.label :longitude %>
          <%= f.text_field :longitude, class: 'form-control' %>
        </div>
        <!--t.string   "elevation"-->
        <div class="form-group">
          <%= f.label :elevation %>
          <%= f.text_field :elevation, class: 'form-control' %>
        </div>
        <!--t.string   "exposition"-->
        <div class="form-group">
          <%= f.label :exposition %>
          <%= f.text_field :exposition, class: 'form-control' %>
        </div>
        <!--t.text     "habitat"-->
        <div class="form-group">
          <%= f.label :habitat %>
          <%= f.text_area :habitat, class: 'form-control' %>
        </div>
        <!--t.string   "substrate"-->
        <div class="form-group">
          <%= f.label :substrate %>
          <%= f.text_field :substrate, class: 'form-control' %>
        </div>
        <!--t.string   "life_form"-->
        <div class="form-group">
          <%= f.label :life_form %>
          <%= f.text_field :life_form, class: 'form-control' %>

        </div>

        <!--t.string   "collector"-->
        <div class="form-group">
          <%= f.label :collector %>
          <%= f.text_field :collector, class: 'form-control' %>
        </div>

        <!--t.string   "collection_nr"-->
        <div class="form-group">
          <%= f.label :collection_nr %>
          <%= f.text_field :collection_nr, class: 'form-control' %>
        </div>
        <!--t.string   "collection_date"-->
        <div class="form-group">
          <%= f.label :collection_date %>
          <%= f.text_field :collection_date, class: 'form-control' %>
        </div>
        <!--t.string   "determination"-->
        <div class="form-group">
          <%= f.label :determination %>
          <%= f.text_field :determination, class: 'form-control' %>
        </div>
        <!--t.string   "revision"-->
        <div class="form-group">
          <%= f.label :revision %>
          <%= f.text_field :revision, class: 'form-control' %>
        </div>
        <!--t.string   "confirmation"-->
        <div class="form-group">
          <%= f.label :confirmation %>
          <%= f.text_field :confirmation, class: 'form-control' %>
        </div>
        <!--t.text     "comments"-->
        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>


        <%= f.submit 'Update', :class =>  'btn btn-primary' %>

    <% end %>

  </div>
</div>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Isolates</h3>
  </div>

  <div class="panel-body">
    <table  class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>Lab Nr</th>
      </tr>
      </thead>

      <tbody>
      <% @individual.isolates.each do |c| %>
          <tr>
            <td>
              <%= link_to c.lab_nr,edit_isolate_path(c) %>
            </td>
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>