<% provide(:title, @individual.specimen_id) %>
<%= show_val_errors(@individual)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Specimen <%= @individual.specimen_id %>
      <% if @individual.try(:taxon) %>
          - <%=link_to(@individual.taxon.scientific_name, edit_taxon_path(@individual.taxon.id))  %>
      <% end %>
    </h3>
  </div>

  <div class="panel-body">
    <%= form_for(@individual) do |f| %>

        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <li><a href="#image" role="tab" data-toggle="tab">Image</a></li>
          <li><a href="#locality" role="tab" data-toggle="tab">Locality</a></li>
          <li ><a href="#assigned_isolates" role="tab" data-toggle="tab">Isolates</a></li>
          <li>
            <a href="#sativa_warnings" role="tab" data-toggle="tab" style="<%= warning_color_individual(@individual) %>">
              <span class="glyphicon glyphicon-exclamation-sign"></span> Potential issues
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="description">
            <br>

            <div class="form-group">
              <%= f.label :specimen_id, 'Specimen ID' %>
              <%= f.text_field :specimen_id, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :DNA_bank_id, 'Associated DNA Bank ID' %>
              <%= f.text_field :DNA_bank_id, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :taxon_id, 'Parent Taxon' %>
              <% if @individual.taxon %>
                  <%= link_to '', edit_taxon_path(@individual.taxon), :class => 'glyphicon glyphicon-share-alt', :title => "go to #{@individual.taxon.scientific_name} " %>
              <% end %>
              <%= f.collection_select :taxon_id, Taxon.order(:scientific_name), :id, :scientific_name, { include_blank: true }, { class:"form-control" } %>
            </div>

            <div class="form-group">
              <%= f.label :collection_id, 'Collection' %>
              <% if @individual.collection %>
                <%= link_to '', edit_collection_path(@individual.collection), { include_blank: true, class: "glyphicon glyphicon-share-alt" } %>
              <% end %>
              <%= f.collection_select(:collection_id, Collection.all, :id, :name, { include_blank: true }, { class: 'form-control' }) %>
            </div>

            <div class="form-group">
              <%= f.label :tissue_id, 'Tissue type' %>
              <%= f.collection_select(:tissue_id, Tissue.all.order(:name), :id, :name, {}, { class: 'form-control' }) %>
            </div>

            <div class="form-group">
              <%= f.label :life_form %>
              <%= f.text_field :life_form, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :collector %>
              <%= f.text_field :collector, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :collectors_field_number, "Collector's Field Number" %>
              <%= f.text_field :collectors_field_number, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :collected, 'Collection Date' %><br>
              <%= f.text_field :collected, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :collection_date, 'Collection Date (Original)' %><br>
              <%= f.text_field :collection_date, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :determination %>
              <%= f.text_field :determination, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :revision %>
              <%= f.text_field :revision, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :confirmation %>
              <%= f.text_field :confirmation, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :comments %>
              <%= f.text_area :comments, class: 'form-control' %>
            </div>

            <%= render :partial => 'shared/associated_projects', :locals => { :form => f } %>
          </div>

          <div class="tab-pane" id="image">
            <br>
            <% if @individual.voucher_images.attached? %>
              <div id='slideshow-wrapper'>
                <!-- The dots/circles -->
                <div style="text-align:center">
                  <% (1..@individual.voucher_images.size).each do |index| %>
                    <span class="dot" data-index="<%= index %>"></span>
                  <% end %>
                </div>
                <br>
                <!-- Slideshow container -->
                <div class="slideshow-container">
                  <% @individual.voucher_images.each_with_index do |voucher_image, index| %>
                    <div class="mySlides fading" title="<%= voucher_image.filename %>" >
                      <%= image_tag url_for(voucher_image.variant(resize: "400x400").processed),
                                    class: 'preview-image',
                                    data: { index: (index + 1)},
                                    style: 'width: 100%' %>
                    </div>

                    <!-- Delete button-->
                    <%= link_to '', delete_voucher_image_individual_path(@individual, voucher_image_id: voucher_image.id),
                                :class => "glyphicon glyphicon-trash remove-image",
                                method: :delete,
                                title: 'Remove image',
                                data: { confirm: 'Are you sure?' } %>
                  <% end %>

                  <!-- Next and previous buttons -->
                  <a class="prev-button">&#10094;</a>
                  <a class="next-button">&#10095;</a>
                </div>

                <!-- The Modal/Lightbox -->
                <div id="myModal" class="modal">
                  <span class="close-icon cursor">&times;</span>

                  <div class="modal-content">
                    <% @individual.voucher_images.each do |voucher_image| %>
                      <div class="modalSlides">
                        <%= image_tag url_for(voucher_image),
                                      style: 'width: 100%' %>
                      </div>

                      <!-- Delete button-->
                      <%= link_to '', delete_voucher_image_individual_path(@individual, voucher_image_id: voucher_image.id),
                                  :class => "glyphicon glyphicon-trash remove-image-modal",
                                  method: :delete,
                                  title: 'Remove image',
                                  data: { confirm: 'Are you sure?' } %>
                    <% end %>

                    <!-- Next/previous controls -->
                    <a class="prev-button">&#10094;</a>
                    <a class="next-button">&#10095;</a>

                    <!-- Caption text -->
                    <div class="caption-container">
                      <p id="caption"></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <br>
            <td>
                <%= f.label :voucher_images, 'Upload up to five images:', style: 'width: 100%; text-align: center;' %>
                <%= f.file_field :voucher_images, multiple: true, style: 'margin: 0 auto', class: 'form-control' %>
            </td>
          </div>

          <div class="tab-pane" id="locality" >
            <br>
            <div class="container" style="width: 100%">
              <div class="row">
                <div class="col-lg-2">
                  <div class="row">
                    <div class="col-lg-12 sidebar-element">
                      <div class="form-group">
                        <%= f.label 'Latitude' %>
                        <%= f.number_field :latitude, step: 0.0001, class: 'form-control' %>
                        <%= "Original latitude value during import was <b>#{@individual.latitude_original}</b>".html_safe if @individual.latitude_original.present? %>
                      </div>

                      <div class="form-group">
                        <%= f.label 'Longitude' %>
                        <%= f.number_field :longitude, step: 0.0001, class: 'form-control' %>
                        <%= "Original longitude value during import was <b>#{@individual.longitude_original}</b>".html_safe if @individual.longitude_original.present? %>
                      </div>

                      <div class="form-group">
                        <%= f.label :elevation %>
                        <%= f.number_field :elevation, step: 0.0001, class: 'form-control' %>
                        <%= "Original elevation value during bulk import was <b>#{@individual.elevation_orig}</b>".html_safe if @individual.elevation_orig.present? %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 sidebar-element">
                      <div class="form-group">
                        <%= f.label :country %>
                        <%= f.country_select :country, { priority_countries: ["DE"], include_blank: 'Select a country'} , { class: 'form-control' } %>
                      </div>

                      <div class="form-group">
                        <%= f.label 'State/Province' %>
                        <%= f.text_field :state_province, class: 'form-control' %>
                      </div>

                      <div class="form-group">
                        <%= f.label :locality %>
                        <%= f.text_area :locality, class: 'form-control' %>
                      </div>

                      <div class="form-group">
                        <%= f.label :habitat %>
                        <%= f.text_area :habitat, class: 'form-control' %>
                      </div>

                      <div class="form-group">
                        <%= f.label :substrate %>
                        <%= f.text_field :substrate, class: 'form-control' %>
                      </div>

                      <div class="form-group">
                        <%= f.label :exposition %>
                        <%= f.text_field :exposition, class: 'form-control' %>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-lg-10">
                  <% if @individual.latitude && @individual.longitude %>
                    <div id="map"></div>
                  <% else %>
                    <p>Please add values for latitude and longitude to see a map of the locality here.</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="assigned_isolates">
            <br>
            <table class="table table-striped table-hover table-bordered">

              <thead>
              <tr>
                <th>Isolate ID</th>
              </tr>
              </thead>

              <tbody>
              <% @individual.isolates.each do |c| %>
                  <tr>
                    <td>
                      <%= link_to c.display_name, edit_isolate_path(c) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>

            </table>

          </div>

          <div class="tab-pane" id="sativa_warnings">
            <br>
            <%= contig_issues_individual(@individual) %>
          </div>

        </div>

        <%= f.submit 'Update', :class =>  'btn btn-default' %>

    <% end %>

  </div>
</div>







