<!-- latitude/longitude Problems:-->

<% if Individual.bad_location.any? %>

    <hr>

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"><%= Individual.bad_location.count %> specimens with badly formatted latitude/longitude:</h3>
      </div>

      <div class="panel-body">

        <div class="wideTable">

          <table class="table table-striped table-hover table-bordered">

            <thead>
            <tr>
              <th>Specimen ID</th>
              <th>Species</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Last updated</th>
              <th></th>
            </tr>
            </thead>

            <tbody>

            <% Individual.bad_location.includes(:species).each do |individual| %>

                <tr>
                  <td><%= link_to individual.specimen_id, edit_individual_path(individual) %></td>
                  <td>
                    <% if individual.try(:species) %>
                        <%= link_to individual.species.name_for_display, edit_species_path(individual.species) %>
                    <% end %>
                  </td>
                  <td><%= link_to individual.latitude_original, edit_individual_path(individual) %></td>
                  <td><%= link_to individual.longitude_original, edit_individual_path(individual) %></td>
                  <td> <%= individual.updated_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td><%= link_to 'Delete', individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>

            <% end %>
            </tbody>

          </table>
        </div>

        <br>

        <p><%= Individual.where(:latitude_original => nil).count %> specimens do not have any latitude/longitude information.</p>
      </div>

    </div>


<% end %>