<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.text_field :password, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation, class: 'form-control' %>
</div>

<div class="form-group">
  <% roles = current_user.admin? ? User.roles.keys : User.roles.keys.reject {|role| role == 'admin'} %>
  <% roles.each do |role| %>
    <%= f.radio_button :role, role %>
    <%= f.label role.to_sym %>
  <% end %>
</div>

<div class="form-group">
  <%= f.label 'Lab' %><br>
  <%= f.collection_select :lab_id, Lab.order(:labcode), :id, :labcode, {}, { class: 'form-control' } %>
</div>

<div class="form-group">
  <%= f.label 'Responsibility' %><br>
  <%= f.collection_select :responsibility_ids, Responsibility.order(:name), :id, :name, { include_blank:'<no selection>' }, { multiple:true, class: 'form-control' } %>
</div>

<div class="form-group">
  <%= f.label 'Projects' %><br>
  <%= f.collection_select :project_ids, Project.order(:name), :id, :name, {}, { multiple:true, class: 'form-control' } %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-default' %>
</div>