<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: 'new-password',  class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Role' %><br>
  <% roles = current_user.admin? ? User.roles : User.roles.reject {|role| role == 'admin'} %>
  <%= f.select :role, roles.keys.map { |role| [role.humanize, role] },
               { include_blank: true },
               { class: 'form-control' } %>
</div>

<div class="form-group">
  <%= f.label 'Lab' %><br>
  <%= f.collection_select :lab_id, Lab.order(:labcode), :id, :labcode, { include_blank: true }, { class: 'form-control' } %>
</div>

<div class="form-group">
  <%= f.label 'Responsibility area' %><br>
  <%= f.select :responsibility, User.responsibilities.keys.map { |responsibility| [responsibility.humanize, responsibility] },
               { include_blank: true },
               { class: 'form-control' } %>
</div>

<div class="form-group">
  <%= f.label 'Projects' %><br>
  <%= f.collection_select :project_ids, Project.order(:name), :id, :name, { include_blank: true }, { multiple:true, class: 'form-control' } %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-default' %>
</div>