<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @user.lab&.labcode %>
</p>

<p>
  <strong>Responsibilities:</strong>
  <%= @user.responsibilities&.map { |responsibility| responsibility.name }.join(', ') %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @user.projects&.map { |project| project.name }.join(', ') %>
</p>