<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role&.humanize %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @user.lab&.labcode %>
</p>

<p>
  <strong>Responsibility area:</strong>
  <%= @user.responsibility&.humanize %>
</p>