<td>
  <%= link_to user.name, edit_user_path(user) %>
</td>
<td><%= user.email %></td>
<td>
  <%= link_to user.lab.labcode, edit_lab_path(user.lab.id) if user.lab.present? %>
</td>
<td>
  <%= user.projects&.map { |responsibility| responsibility.name }.join(', ') %>
</td>
<td>
  <%= user.role&.capitalize %>
</td>
<td>
  <%= user.responsibilities&.map { |responsibility| responsibility.name }.join(', ') %>
</td>
<td>
  <%= user.last_sign_in_at %>
</td>