<td>
  <%= link_to user.name, edit_user_path(user) %>
</td>
<td><%= user.email %></td>
<td>
  <% if user.lab.present? %>
    <%= link_to user.lab.labcode, edit_lab_path(user.lab.id) %>
  <% end %>
</td>
<td>
  <%= user.responsibilities.map { |responsibility| responsibility.name }.join(', ') %>
</td>
<td><%= user.last_sign_in_at %></td>
<td>
  <%= user.role&.capitalize %>
</td>