<td>
  <%= link_to user.name, edit_user_path(user) %>
</td>
<td><%= user.email %></td>
<td>
  <%= link_to user.lab.labcode, edit_lab_path(user.lab.id) if user.lab.present? %>
</td>
<td>
  <%= user.projects&.order(:name).map { |project| project.name }.join(', ') %>
</td>
<td>
  <%= user.role&.humanize %>
</td>
<td>
  <%= user.responsibility&.humanize %>
</td>
<td>
  <%= user.last_sign_in_at %>
</td>