<%= show_val_errors(@user)%>


<div class="authform">

  <%= form_for(@user) do |f| %>

      <div class="form-group"><%= @user.name %></div>

      <div class="form-group">
        <%= f.label 'Projects' %><br>
        <%= f.collection_select :project_ids, Project.order(:name), :id, :name, {}, {multiple:true} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>

  <% end %>
</div>