<%= show_val_errors(@user)%>

<div class="panel panel-default">
  <h4>Edit user</h4>

  <div class="panel-body">
    <%= form_for @user do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <% User.roles.keys.each do |role| %>
          <%= f.radio_button :role, role %>
          <%= f.label role.to_sym %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label 'Lab' %><br>
        <%= f.collection_select :lab_id, Lab.order(:labcode), :id, :labcode %>
      </div>

      <div class="form-group">
        <%= f.label 'Responsibility' %><br>
        <%= f.collection_select :project_ids, Project.order(:name), :id, :name, {}, {multiple:true} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>

    <% end %>
  </div>
</div>