<% provide(:title, 'User home area') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile information</h3>
  </div>
  <div class="panel-body" id="main">
    <%= render 'show' %>
    <div><%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-default' %></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Projects</h3>
  </div>
  <div class="panel-body" id="main">
    <div>
      <p>
        <strong>Projects:</strong>
        <%= @user.projects&.map { |project| project.name }.join(', ') %>
      </p>

      <%= form_for @user do |f| %>
        <%= f.label 'Default project:' %>
        <%= f.collection_select :default_project_id, @user.projects, :id, :name %>

        <div class="form-actions">
          <%= f.submit 'Change default project', :class => 'btn btn-warning' %>
        </div>
        <p>(This will influence what contents are shown throughout this web application.)</p>
      <% end %>
      </p>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Saved searches</h3>
  </div>
  <div class="panel-body" id="main">
    <div>
      <%= link_to 'Your past contig searches', contig_searches_path, :class => 'btn btn-default' %>
      <%= link_to 'Your past marker sequence searches', marker_sequence_searches_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>