<div class="jumbotron about-background" style="opacity: 0.8;">

  <a href="https://www.bolgermany.de"><img alt="GBOL" width="100" class="pull-right" src=<%= asset_path('project_images/GBoL_transparent.png')  %> /></a>
  <h1><%= CONFIG[:main_project_name] %><br>
    <a href='https://www.bmbf.de/'><img alt='BMBF' width='100' class='pull-right' src=<%= asset_path('project_images/BMBF_transparent.png') %> /></a>
    <small><%= CONFIG[:project_description] %></small>
  </h1>

  <br>
  <%= CONFIG[:project_about].html_safe %>
  <hr>

  <footer class="row">
    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <a href="https://www.nees.uni-bonn.de"><img alt="NEES"  height="40" src=<%= asset_path('project_images/Nees_transparent.png') %> /></a>
      <a href="https://www.nees.uni-bonn.de"><img alt="Bonn" height="35" src=<%= asset_path('project_images/Uni_Bonn_transparent.png') %> /></a>
    </div>

    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
      <a href="https://www.uni-muenster.de/Evolution/"><img alt="IEB" height="27"  src=<%= asset_path('project_images/ieb_transparent.png') %> /></a>
      <a href="https://www.uni-muenster.de/Evolution/"><img alt="WWU"  height="35"  src=<%= asset_path('project_images/wwu_logo_transparent.png') %> /></a>
    </div>

    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <a href="https://www.bgbm.org/"><img alt="BGBM" height="40"  src=<%= asset_path('project_images/logo_bgbm_transparent.png') %> /></a>
      <a href="https://www.bgbm.org/"><img alt="BGBM" height="40"  src=<%= asset_path('project_images/FU_Berlin.png') %> /></a>
    </div>

    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <a href="http://www.naturkundemuseum-bw.de/intl/englisch/stuttgart-state-museum-natural-history"><img alt="SMNS" height="60" class="img-rounded" src=<%= asset_path('project_images/SMNS_transparent.png') %> /></a>
    </div>

  </footer>
  <hr>

</div>
