<div class="jumbotron">

  <h1>!GBOL5</h1>
  <p></p>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="GBOL" width="100" src=<%= asset_path('GBoL.png') %> />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="BMBF" width="100" src=<%= asset_path('BMBF.jpg') %> />
      </a>
      </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="NEES"  width="60" src=<%= asset_path('Nees.png') %> />
        <img alt="Bonn" width="100" src=<%= asset_path('Uni_Bonn.png') %> />
      </a>
      </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="IEB" width="50" src=<%= asset_path('ieb.png') %>/>
        <img alt="WWU"  width="150" src=<%= asset_path('wwu_logo.png') %> />
      </a>
      </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="BGBM" width="70" src=<%= asset_path('logo_bgbm.jpg') %> />
      </a>
      </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="SMNS" width="100" src=<%= asset_path('SMNS.png') %> />
      </a>
    </div>
  </div>
</div>