<div class="jumbotron">
  <img alt="GBOL" width="100" class="pull-right" src=<%= asset_path('GBoL_transparent.png')  %> />
  <h1>Barcoding the German Flora - GBoL5</h1>
  <img alt="BMBF" width="100" class="pull-right" src=<%= asset_path('BMBF_transparent.png') %> />
  <h2>A project of the German Barcode of Life Initiative <a href="http://www.bolgermany.de">(GBoL)</a></h2>
  <h3>Funded by the Federal Ministry of Education and Research</h3>


  <p>GBoL5 aims to provide a curated reference collection for the approximately 4,800 native land plant species (bryophytes, lycophytes, ferns and seed plants) of the German flora with a linkage to specific sequence data (DNA barcodes). To ensure identification success GBoL5 generates sequence data for up to four fast evolving molecular markers from two genomes<!--(klick here for more information)-->.

    GBoL5 is a joint initiative of the <a href="http://www.nees.uni-bonn.de">Nees Institute for Plant Biodiversity (NEES, University of Bonn)</a>, the <a href="http://ieb.uni-muenster.de"> Institute for Evolution and Biodiversity (IEB, University of Münster)</a>, the <a href="http://www.bgbm.org/"> Botanical Garden and Botanical Museum Berlin (BGBM, Freie Universität Berlin)</a> and the Stuttgart State Museum of Natural History (SMNS).</p>

  <footer class="row">


    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <img alt="NEES"  height="40" src=<%= asset_path('Nees_transparent.png') %> />
      <img alt="Bonn" height="40" src=<%= asset_path('Uni_Bonn_transparent.png') %> />
    </div>



    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
      <img alt="IEB" height="30"  src=<%= asset_path('ieb_transparent.png') %> />
      <img alt="WWU"  height="30"  src=<%= asset_path('wwu_logo_transparent.png') %> />
    </div>


    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <img alt="BGBM" height="40"  src=<%= asset_path('logo_bgbm_transparent.png') %> />
      <img alt="BGBM" height="40"  src=<%= asset_path('FU_Berlin.png') %> />
    </div>


    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <img alt="SMNS" height="60" class="img-rounded" src=<%= asset_path('SMNS_transparent.png') %> />
    </div>

</footer>
</div>