<div class="jumbotron" style="opacity: 0.7;">


  <a href="http://www.bolgermany.de"><img alt="GBOL" width="100" class="pull-right" src=<%= asset_path('GBoL_transparent.png')  %> /></a>
  <h1>GBOL5<br>
  Barcoding the German Flora</h1>
  <h2>A project of the <a href="http://www.bolgermany.de">German Barcode of Life Initiative (GBOL)</a></h2>
  <a href="http://www.bmbf.de/"><img alt="BMBF" width="100" class="pull-right" src=<%= asset_path('BMBF_transparent.png') %> /></a>
  <h3>Funded by the <a href="http://www.bmbf.de/">Federal Ministry of Education and Research</a></h3>

  <br>
  <p>GBOL5 aims to provide a curated reference collection for the approximately 4,800 native land plant species (bryophytes, lycophytes, ferns and seed plants) of the German flora with a linkage to specific sequence data (DNA barcodes). To ensure identification success, GBOL5 generates sequence data for up to four fast evolving molecular markers from two genomes.</p><!--(klick here for more information)-->

  <p>GBOL5 is a joint initiative of the <a href="http://www.nees.uni-bonn.de">Nees Institute for Plant Biodiversity (NEES, University of Bonn)</a>, the <a href="http://ieb.uni-muenster.de"> Institute for Evolution and Biodiversity (IEB, University of Münster)</a>, the <a href="http://www.bgbm.org/"> Botanical Garden and Botanical Museum Berlin (BGBM, Freie Universität Berlin)</a> and the <a href="http://www.naturkundemuseum-bw.de/intl/englisch/stuttgart-state-museum-natural-history"> Stuttgart State Museum of Natural History (SMNS)</a>.</p>

  <hr>

  <footer class="row">
    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <a href="http://www.nees.uni-bonn.de"><img alt="NEES"  height="40" src=<%= asset_path('Nees_transparent.png') %> /></a>
      <a href="http://www.nees.uni-bonn.de"><img alt="Bonn" height="40" src=<%= asset_path('Uni_Bonn_transparent.png') %> /></a>
    </div>



    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
      <a href="http://ieb.uni-muenster.de"><img alt="IEB" height="30"  src=<%= asset_path('ieb_transparent.png') %> /></a>
      <a href="http://ieb.uni-muenster.de"><img alt="WWU"  height="30"  src=<%= asset_path('wwu_logo_transparent.png') %> /></a>
    </div>


    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <a href="http://www.bgbm.org/"><img alt="BGBM" height="40"  src=<%= asset_path('logo_bgbm_transparent.png') %> /></a>
      <a href="http://www.bgbm.org/"><img alt="BGBM" height="40"  src=<%= asset_path('FU_Berlin.png') %> /></a>
    </div>


    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <a href="http://www.naturkundemuseum-bw.de/intl/englisch/stuttgart-state-museum-natural-history"><img alt="SMNS" height="60" class="img-rounded" src=<%= asset_path('SMNS_transparent.png') %> /></a>
    </div>

  </footer>
  <hr>



</div>