<% provide(:title, 'Overview') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Overview</h3>
  </div>
  <div class="panel-body">

    <!--table 1-->

    <div class="wideTable">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Taxa</th>
          <th>Orders</th>
          <th>Families</th>
          <th colspan="2" style="text-align: center">Species</th>
          <th colspan="3" style="text-align: center">Specimens</th>
          <th colspan="4" style="text-align: center">Isolates</th>
          <th>Reads</th>
          <th colspan="4" style="text-align: center">Contigs</th>
          <th colspan="4" style="text-align: center">Sequences</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>incl. subspp.</th>
          <th></th>
          <th>spp.</th>
          <th>incl. subspp.</th>
          <th></th>
          <th>spp.</th>
          <th>incl. subspp.</th>
          <th>Specimens</th>
          <th></th>
          <th></th>
          <th>spp.</th>
          <th>incl. subspp.</th>
          <th>Specimens</th>
          <th></th>
          <th>spp.</th>
          <th>incl. subspp.</th>
          <th>Specimens</th>
        </tr>

        </thead>
        <tbody>

        <% total_s = 0 %>

        <% total0 = 0 %>
        <% total0_sub = 0 %>
        <% total1 = 0 %>
        <% total1_sub = 0 %>
        <% total2 = 0 %>
        <% total2_sub = 0 %>
        <% total3 = 0 %>
        <% total3_sub = 0 %>

        <% total1_i = 0 %>
        <% total2_i = 0 %>
        <% total3_i = 0 %>

        <% for t in HigherOrderTaxon.all.order('higher_order_taxa.position') %>
            <tr>
              <td><%= link_to t.name, edit_higher_order_taxon_path(t) %></td>

              <td><%= Order.joins(:higher_order_taxon).where(higher_order_taxon_id: t.id).count %></td>


              <td><%= Family.joins(:order => :higher_order_taxon).where(orders: {higher_order_taxon_id: t.id}).count %></td>

              <% counts = Species.spp_in_higher_order_taxon(t.id) %>
              <td><%= counts[0] %></td>  <!-- spp -->
              <td><%= counts[1] %></td>  <!-- spp+subspp -->
              <% total_s = total_s+counts[0] %>


              <% counts = Individual.spp_in_higher_order_taxon(t.id) %>
              <td><%= counts[0] %></td> <!-- Ind. -->
              <td><%= counts[1] %></td> <!-- Spp. -->
              <td><%= counts[2] %></td> <!-- spp+Subspp. -->
              <% total0 = total0+counts[1] %>
              <% total0_sub = total0+counts[2] %>

              <% counts = Isolate.spp_in_higher_order_taxon(t.id) %>
              <td><%= counts[0] %></td> <!-- Isolates -->
              <td><%= counts[1] %></td> <!-- Spp. -->
              <td><%= counts[2] %></td> <!-- Subspp. -->
              <td><%= counts[3] %></td> <!-- Ind. -->
              <% total1 += counts[1] %>
              <% total1_sub += counts[2] %>
              <% total1_i += counts[3] %>

              <td><%= PrimerRead.joins(:contig => {:isolate => {:individual => {:species => {:family => {:order => :higher_order_taxon}}}}}).where(orders: {higher_order_taxon_id: t.id}).count %></td>

              <% counts = Contig.spp_in_higher_order_taxon(t.id) %>
              <td><%= counts[0] %></td> <!-- Contigs -->
              <td><%= counts[1] %></td> <!-- Spp. -->
              <td><%=counts[2]%></td> <!-- Subspp. -->
              <td><%= counts[3] %></td> <!-- Ind. -->
              <% total2 += counts[1] %>
              <% total2_sub += counts[2] %>
              <% total2_i += counts[3] %>


              <% counts = MarkerSequence.spp_in_higher_order_taxon(t.id) %>
              <td><%= counts[0] %></td> <!-- MarkerSeqs -->
              <td><%= counts[1] %></td><!-- Spp. -->
              <td><%= counts[2] %></td><!-- Subspp. -->
              <td><%= counts[3] %></td><!-- Ind. -->
              <% total3 += counts[1] %>
              <% total3_sub += counts[2] %>
              <% total3_i += counts[3] %>
            </tr>
        <% end %>

        <tr><td>Unassigned</td>
          <td><%= Order.where(higher_order_taxon_id: nil).count %></td>


          <td><%= Family.where(order_id: nil).count %></td>


          <td><%= Species.where(family_id: nil).count%></td>
          <td></td>


          <td><%= Individual.where(species_id: nil).count %></td>
          <td></td>
          <td></td>


          <td><%= Isolate.no_controls.where(individual_id: nil).count %></td>
          <td></td>
          <td></td>
          <td></td>

          <td><%= PrimerRead.where(contig_id: nil).count %></td>

          <td><%= Contig.where(isolate_id: nil).count %></td>
          <td></td>
          <td></td>
          <td></td>


          <td><%= MarkerSequence.where(isolate_id: nil).count %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tfoot><tr><td>Total</td>

          <td><%= Order.count %></td>
          <td><%= Family.count%></td>

          <td><%= total_s %></td>
          <td><%= Species.count %></td>

          <td><%= Individual.count %></td>
          <td><%= total0 %></td>
          <td><%= total0_sub %></td>

          <td><%= Isolate.count %></td>
          <td><%= total1 %></td>
          <td><%= total1_sub %></td>
          <td><%= total1_i %></td>

          <td><%= PrimerRead.count %></td>

          <td><%= Contig.count %></td>
          <td><%= total2 %></td>
          <td><%= total2_sub %></td>
          <td><%= total2_i %></td>

          <td><%= MarkerSequence.count %></td>
          <td><%= total3 %></td>
          <td><%= total3_sub %></td>
          <td><%= total3_i %></td>

        </tr></tfoot>
        </tbody>
      </table></div>
    <br>
    <p style="text-align: center;">GBOL5 Markers</p>

    <!--table with info per marker-->

    <div class="wideTable">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Taxa</th>
          <% for m in Marker.gbol_marker.order('name') %>
              <th colspan="3" style="text-align: center"><%= m.name %></th>
          <% end %>
        </tr>


        <tr>
          <th></th>
          <% for m in Marker.gbol_marker.order('name') %>
              <th>Reads</th>
              <th>Contigs</th>
              <th>Sequences [spp., spmn.]</th>
          <% end %>
        </tr>
        </thead>
        <tbody>

        <% marker_totals_across_higher_order = Array.new(Marker.gbol_marker.count,0) %>
        <% marker_totals_across_higher_order_i = Array.new(Marker.gbol_marker.count,0) %>


        <% for t in HigherOrderTaxon.all.order('higher_order_taxa.position') %>

            <tr>
              <td><%= link_to t.name, edit_higher_order_taxon_path(t) %></td>

              <% i = 0 %>

              <% for m in Marker.gbol_marker.order('name') %>
                  <td>
                    <%= PrimerRead.joins(:contig =>
                                                 {:isolate =>
                                                          {:individual =>
                                                                   {:species =>
                                                                            {:family =>
                                                                                     {:order => :higher_order_taxon}}}}}).
                        where(orders: {higher_order_taxon_id: t.id}, contigs: {marker_id: m.id}).count %>
                  </td>
                  <td>
                    <%= Contig.joins(:isolate =>
                                             {:individual =>
                                                      {:species =>
                                                               {:family =>
                                                                        {:order => :higher_order_taxon}}}}).
                        where(orders: {higher_order_taxon_id: t.id}, contigs: {marker_id: m.id}).count %>
                  </td>

                  <% counts = m.spp_in_higher_order_taxon(t.id) %>
                  <td><%= counts[0] %> [<%=counts[1]%>, <%= counts[2] %>]</td>


                  <% marker_totals_across_higher_order[i] += counts[1] %>
                  <% marker_totals_across_higher_order_i[i] += counts[2] %>

                  <% i+=1 %>
              <% end %>
            </tr>

        <% end %>

        <tfoot>
        <tr>
          <td>Total</td>
          <% i = 0 %>
          <% Marker.gbol_marker.order('name').each do |m| %>
              <td><%= PrimerRead.joins(:contig).where(contigs: {marker_id: m.id}).count %></td>
              <td><%= Contig.where(marker_id: m.id).count %></td>
              <td><%= m.marker_sequences.count %> [<%=marker_totals_across_higher_order[i]%>, <%=marker_totals_across_higher_order_i[i]%>]</td>
              <% i+=1 %>
          <% end %>
        </tr>
        </tfoot>
        </table>
    </div>
  </div>


  <!--
  <div class="panel-heading">
    <h3 class="panel-title">General Statistics</h3>
  </div>

 <div class="panel-body">

    <ul>
      <li>DNA Data</li>
      <ul>&lt;!&ndash;create_table "primer_reads", force: true do |t|&ndash;&gt;
        <li><%= link_to "Primer Reads: #{PrimerRead.all.count}", primer_reads_path%></li>
        &lt;!&ndash;create_table "partial_cons", force: true do |t|&ndash;&gt;
        <li><%=  "Partial Contigs: #{PartialCon.all.count}" %></li>
        &lt;!&ndash;create_table "contigs", force: true do |t|&ndash;&gt;
        <li><%= link_to "Contigs: #{Contig.all.count}", contigs_path %></li>
        &lt;!&ndash;create_table "marker_sequences", force: true do |t|&ndash;&gt;
        <li><%= link_to "Marker Sequences: #{MarkerSequence.all.count}", marker_sequences_path %></li>
        &lt;!&ndash;create_table "isolates", force: true do |t|&ndash;&gt;
        <li><%= link_to "Isolates: #{Isolate.all.count}", isolates_path %></li>
        &lt;!&ndash;alignments&ndash;&gt;
        <li><%= link_to "Alignments: #{Alignment.all.count}", alignments_path %></li></ul>
      <li>Plants & Taxonomy </li>
      <ul>&lt;!&ndash;create_table "individuals", force: true do |t|&ndash;&gt;
        <li><%= link_to "Individuals/Specimens: #{Individual.all.count}", individuals_path %></li>
        &lt;!&ndash;create_table "spp", force: true do |t|&ndash;&gt;
        <li><%= link_to "Species: #{Species.all.count}", species_index_path%></li>
        &lt;!&ndash;create_table "families", force: true do |t|&ndash;&gt;
        <li><%= link_to "Families: #{Family.all.count}", families_path   %></li>
        &lt;!&ndash;create_table "orders", force: true do |t|&ndash;&gt;
        <li><%= link_to "Orders: #{Order.all.count}", orders_path %></li>
        &lt;!&ndash;create_table "higher_order_taxa", force: true do |t|&ndash;&gt;
        <li><%= link_to "Higher-order Taxa: #{HigherOrderTaxon.all.count}", higher_order_taxons_path %></li></ul>
      <li>Lab management</li><ul>
      &lt;!&ndash;create_table "labs", force: true do |t|&ndash;&gt;
      <li><%= link_to "Labs: #{Lab.all.count}", labs_path %></li>
      &lt;!&ndash;create_table "freezers", force: true do |t|&ndash;&gt;
      <li> <%= link_to "Freezers: #{Freezer.all.count}", freezers_path %></li>
      &lt;!&ndash;create_table "lab_racks", force: true do |t|&ndash;&gt;
      <li><%= link_to "LabRacks: #{LabRack.all.count}", lab_racks_path %></li>
      &lt;!&ndash;create_table "micronic_plates", force: true do |t|&ndash;&gt;
      <li><%= link_to "MicronicPlates: #{MicronicPlate.all.count}", micronic_plates_path%></li>
      &lt;!&ndash;create_table "plant_plates", force: true do |t|&ndash;&gt;
      <li><%= link_to "PlantPlates: #{PlantPlate.all.count}", plant_plates_path %></li>
      &lt;!&ndash;create_table "primers", force: true do |t|&ndash;&gt;
      <li><%= link_to "Primers: #{Primer.all.count}", primers_path %></li>
      &lt;!&ndash;create_table "shelves", force: true do |t|&ndash;&gt;
      <li><%= link_to "Shelves: #{Shelf.all.count}", shelves_path %></li>
      &lt;!&ndash;TISSUETYPES: create_table "tissues", force: true do |t|&ndash;&gt;
      <li><%= link_to "Tissue Types: #{Tissue.all.count}", tissues_path %></li></ul>
      <li>Project management</li>
      <ul>&lt;!&ndash;create_table "markers", force: true do |t|&ndash;&gt;
        <li><%= link_to "Markers: #{Marker.all.count}", markers_path %></li>
        &lt;!&ndash;create_table "primer_pos_on_genomes", force: true do |t|&ndash;&gt;
        &lt;!&ndash;<li><%= link_to "Primers, Genome positions: #{PrimerPosOnGenome.all.count}", primer_pos_on_genomes_path %></li>&ndash;&gt;

        &lt;!&ndash;create_table "issues", force: true do |t|&ndash;&gt;
        <li><%= link_to "Issues: #{Issue.all.count}", issues_path %></li>
        &lt;!&ndash;create_table "news", force: true do |t|&ndash;&gt;
        <li><%= link_to "News: #{News.all.count}", news_index_path %></li>
        &lt;!&ndash;create_table "statuses", force: true do |t|&ndash;&gt;
        <li><%= link_to "Statuses: #{Status.all.count}", statuses_path %></li>
        <li><%= link_to "Projects: #{Project.all.count}", projects_path %></li>
        &lt;!&ndash;create_table "projects", force: true do |t|&ndash;&gt;
        <li><%= link_to "Users: #{User.all.count}", users_path %></li>
        &lt;!&ndash;create_table "users", force: true do |t|&ndash;&gt;</ul>

    </ul>
  </div>-->

</div>
<%= PrimerRead.sum(:base_count)  %> bp sequenced as of <%=Time.now.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S")%>.