<%= show_val_errors(@news)%>


<div class="authform">
  <h4><%= @news.title%></h4>
<%= form_for(@news) do |f| %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,  class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_area :body, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :published %>
        <br>
        <%= f.date_select :published, class: 'form-control' %>
      </div>

      <%= f.submit 'Update', :class => 'button right' %>
<% end %>
</div>