<% provide(:title, @taxon.scientific_name) %>
<%= show_val_errors(@taxon)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @taxon.scientific_name %></h3>
  </div>
  <div class="panel-body">
    <%= form_for(@taxon) do |f| %>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
        <% if @taxon.id %>
          <li ><a href="#specimen" role="tab" data-toggle="tab">Specimens</a></li>
          <li ><a href="#children" role="tab" data-toggle="tab">Child Taxa</a></li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="description">
          <br>
          <div class="form-group">
            <%= f.label :scientific_name %>
            <%= f.text_field :scientific_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :common_name %>
            <%= f.text_field :common_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :synonym %>
            <%= f.text_field :synonym, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :author %>
            <%= f.text_field :author, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :parent_name, 'Parent taxon' %>
            <% if @taxon.parent %>
              <%= link_to '', edit_taxon_path(@taxon.parent), :class => "glyphicon glyphicon-share-alt" %>
            <% end %>
            <br>
            <%= f.collection_select :parent_id, Taxon.order(:taxonomic_rank), :id, :scientific_name, { include_blank: true }, { class:"form-control" } %>
          </div>

          <div class="form-group">
            <%= f.label :taxonomic_rank %><br>
            <%= f.select :taxonomic_rank, Taxon.taxonomic_ranks.keys.map { |r| [r.split('_')[1].capitalize, r] }, { include_blank: true }, { class:"form-control" } %>
          </div>

          <div class="form-group">
            <%= f.label :position, 'Display position index' %>
            <%= f.text_field :position,  class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :comment %>
            <%= f.text_area :comment,  class: 'form-control' %>
          </div>

          <%= render :partial => 'shared/associated_projects', :locals => { :form => f, :projects => associated_projects(@taxon) } %>

          <%= f.submit 'Update', :class => 'btn btn-default' %>
        </div>

        <% if @taxon.id %>
          <div class="tab-pane" id="specimen">
            <br>
            <p>Specimen directly associated with this Taxon:</p>
            <div class="wideTable">
              <table id="associated_individuals" data-source="<%= show_individuals_taxon_url(format: "json") %>" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                  <th>Specimen ID</th>
                  <th>Associated Taxon</th>
                  <th>Herbarium</th>
                  <th>Collector</th>
                  <th>Collector's Field Number</th>
                  <th>Last updated</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane" id="children">
            <br>
            <p>Direct children of this taxon:</p>
            <div class="wideTable">
              <table id="direct_children" data-source="<%= show_children_taxon_url(format: "json") %>" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                  <th>Scientific name</th>
                  <th>Synonym</th>
                  <th>Common name</th>
                  <th>Taxonomic rank</th>
                  <th>Last updated</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

