<div class="panel panel-default">
  <div class="panel-heading">
    <h3  class="panel-title"><%= @freezer.freezercode%></h3>
  </div>

  <div class="panel-body">
    <%= form_for(@freezer) do |f| %>
      <div class="form-group">
        <%= f.label :freezercode %>
        <%= f.text_field :freezercode,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :lab_id, 'Lab' %>
        <%= f.collection_select(:lab_id, Lab.all, :id, :labcode, { include_blank: true }, { class: 'form-control' }) %>
      </div>

      <%= render :partial => 'shared/associated_projects', :locals => { :form => f } %>

      <%= f.submit 'Update', :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
