<% provide(:title, @project.name) %>
<%= show_val_errors(@project)%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @project.name %></h3>
  </div>

  <div class="panel-body">
    <%= form_for(@project) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :start %>
        <%= f.date_field :start, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :due %>
        <%= f.date_field :due, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :user_ids, 'Users' %><br>
        <%= f.collection_select(:user_ids, User.all, :id, :name, {}, { multiple: true, class: 'form-control' }) %>
      </div>

      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>