<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Projects</h3>
  </div>


  <div class="panel-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#index" role="tab" data-toggle="tab">Project Index</a></li>
      <li><a href="#association" role="tab" data-toggle="tab">Associate Taxa</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="index">
        <div class="vertical-spacer"></div>
        <div class="wideTable">
          <table id="projects" class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Start</th>
              <th>Due</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, edit_project_path(project) %></td>
                <td><%= project.description %></td>
                <td><%= project.start %></td>
                <td><%= project.due %></td>
                <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane" id="association">
        <div class="vertical-spacer"></div>
        <%= form_tag add_to_taxa_projects_path, :method => :get do %>
          <p>Select a taxon in order to associate it and all its descendants to the selected project:</p>
          <div>
            <%= label :add_project, 'Project' %><br>
            <%= collection_select :add_project, :associated_project, user_projects, :id, :name, { include_blank: true }, {} %>
          </div>
          <br>
          <div>
            <%= label :query, 'Taxon' %><br>
            <%= collection_select :query, :associated_taxon, Taxon.order(:scientific_name), :id, :scientific_name, { include_blank: true }, {} %>
          </div>
          <br>
          <%= button_to 'Associate taxa', { type: 'Submit', method: 'get' }, { class: 'btn btn-default' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? && (current_user.admin? || current_user.supervisor?) %>
  <p>
    <%= link_to new_project_path, class: 'btn btn-default', title: 'Create a new project' do %>
      <span class="glyphicon glyphicon-unchecked"></span>
    <% end %>
    Create a new project entry
  </p>
<% end %>