<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(@primer) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Alternative name' %>
        <%= f.text_field :alt_name,  class: 'form-control' %>
      </div>

      <div >
        <%= f.check_box :reverse  %>
        <%= f.label 'Reverse' %>
      </div>

      <div class="form-group">
        <%= f.label 'Marker' %>
        <%= f.collection_select(:marker_id, Marker.all, :id, :name, { include_blank: true }, { class: 'form-control' }) %>
      </div>

      <div class="form-group">
        <%= f.label 'Position' %>
        <%= f.text_field :position,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :sequence %>
        <%= f.text_field :sequence,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :author %>
        <%= f.text_field :author,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :tm, 'TM' %>
        <%= f.text_field :tm,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Target group' %>
        <%= f.text_field :target_group,  class: 'form-control' %>
      </div>

      <div class="vertical-spacer"></div>

      <%= render :partial => 'shared/associated_projects', :locals => { :form => f } %>

      <%= f.submit 'Update', :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>