<%= show_val_errors(@gen)%>

<div class="authform">

<h4><%= @gen.name%></h4>

<%= form_for(@gen) do |f| %>


      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :author %>
        <%= f.text_field :author, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :family_name %>
        <%= f.text_field :family_name , data: {autocomplete_source: filter_families_path} , class: 'form-control'%>
      </div>

      <%= f.submit 'Update', :class => 'button right' %>

<% end %>
</div>