


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Genera</h4>

    <%= will_paginate @gens, renderer: BootstrapPagination::Rails %>

  </div>

  <table class="table">


  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @gens.each do |gen| %>
      <tr>
        <td><%= gen.name %></td>
        <td><%= gen.author %></td>
        <td><%= link_to 'Show', gen %></td>
        <td><%= link_to 'Edit', edit_gen_path(gen) %></td>
        <td><%= link_to 'Delete', gen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<%= link_to 'New Genus', new_gen_path %>


