

<p>
  <strong>Name:</strong>
  <%= @gen.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @gen.author %>
</p>

<p>
  <strong>Family:</strong>
  <%= @gen.family.name if @gen.family %>
</p>

<%= link_to 'Edit', edit_gen_path(@gen) %> |
<%= link_to 'Back', gens_path %>
