<div class="jumbotron about-background" style="opacity: 0.8;">

  <%= project_logo %>

  <h1>
    <%= @home.title %>
    <br>
    <%= about_subtitle %>
  </h1>

  <p>
    <%= about_description %>
  </p>

  <hr>
  <footer class="row">
    <%= display_project_logos %>
  </footer>
  <hr>
</div>
