<% provide(:title, @home.title) %>
<%= show_val_errors(@home)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @home.title %></h3>
  </div>

  <div class="panel-body">
    <%= form_for(@home) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description,  class: 'form-control' %>
      </div>

      <%= f.fields_for :project_logo do |project_logo_form| %>
        <div class="form-group">

          <div class="form-group">
            <%= project_logo_form.label :url, 'Project URL' %>
            <%= project_logo_form.text_field :url,  class: 'form-control' %>
          </div>

          <div class="form-group">
<!--            same id as project title field -->
            <%= project_logo_form.label :title, 'Project Logo Title' %>
            <%= project_logo_form.text_field :title,  class: 'form-control' %>
          </div>

          <%= project_logo_form.label :image, 'Project Logo Image' %>
          <%= project_logo_form.file_field :image,  class: 'form-control' %>
          <% if @home.project_logo.image.attached? %>
            <%= "Current image ('#{@home.project_logo.image.filename}')" %>
            <br>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :background_image, 'About page background image' %>
        <%= f.file_field :background_image,  class: 'form-control' %>

        <% if @home.background_image.attached? %>
          <%= f.check_box(:delete_background_image) %>
          <%= "Remove current image ('#{@home.background_image.filename}')" %>
        <% end %>
      </div>

      <%= f.nested_fields_for :logos, @home.logos.order(title: :desc) do |logos_form| %>
        <table  class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Image</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td><%= logos_form.text_field :title, class: 'form-control' %></td>
            <td><%= logos_form.text_field :url, class: 'form-control' %></td>
            <td><%= logos_form.file_field :image, class: 'form-control' %></td>
            <td><%= logos_form.remove_nested_fields_link 'Remove', data: { confirm: "Are you sure?\n(You need to update to permanently remove the logo.)" } %></td>
          </tr>
          </tbody>
        </table>
      <% end %>

      <%= f.add_nested_fields_link :logos do %>
        <span>Add new Partner Logo</span>
      <% end %>
      (You need to update to permanently add or remove an image.)
      <br><br>

      <%= f.submit 'Update', :class => 'btn btn-default' %>

    <% end %>
  </div>
</div>
