<% provide(:title, @home.title) %>
<%= show_val_errors(@home)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @home.title %></h3>
  </div>

  <div class="panel-body">
    <%= form_for(@home) do |f| %>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
        <li><a href="#logos" role="tab" data-toggle="tab">Logos</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane active" id="home">
          <br>
          <div class="form-group">
            <%= f.label :title, 'Main Project Title' %>
            <%= f.text_field :title,  class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :subtitle %>
            <%= f.text_field :subtitle,  class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description,  class: 'form-control' %>
          </div>

          <div class="form-group">
            <p>
            <%= f.label :background_image, 'About Page Background' %>
              <div class="image_preview_container">
                <% if @home.background_image.attached? %>
                  <%= image_tag url_for(@home.background_image),
                                alt: @home.background_image.filename,
                                class: 'lightbox-image' %>

                  <%= link_to '', delete_background_image_home_path(@home, attachment_id: @home.background_image.id),
                              class: "glyphicon glyphicon-trash remove-image",
                              id: 'remove_image',
                              method: :delete,
                              title: 'Remove background image',
                              data: { confirm: 'Are you sure you want to delete this attachment? This action can not be undone.' } %>
                <% end %>
              </p>
            </div>
            <p>
              <%= f.file_field :background_image,  class: 'form-control' %>
            </p>
          </div>
        </div>

        <div class="tab-pane" id="logos">
          <br>

          <div class="form-group">
            <%= f.label :main_logo, 'Main Project Logo' %>
            <%= f.collection_select :main_logo_id, @home.logos.order(:title), :id, :title, { include_blank: true }, { class: 'form-control' } %>
          </div>

          <div class="form-group" style="overflow: auto;">
            <%= f.label :logos, 'Logos' %>

            <table style="overflow: auto;" class="table table-striped table-hover table-bordered" >
              <thead>
              <tr>
                <th>Display on About Page</th>
                <th>Display Position Index</th>
                <th>Title</th>
                <th>URL</th>
                <th>Current logo</th>
                <th>Upload new logo</th>
                <th></th>
              </tr>
              </thead>

              <tbody id='nested_logos'>
                <%= f.nested_fields_for :logos, @home.logos.with_attached_image.order(:title), wrapper_tag: :tr do |logos_form| %>
                  <td><%= logos_form.check_box :display, class: 'form-control' %></td>
                  <td><%= logos_form.number_field :display_pos_index, class: 'form-control' %></td>
                  <td><%= logos_form.text_field :title, class: 'form-control' %></td>
                  <td><%= logos_form.text_field :url, class: 'form-control' %></td>
                  <td style="text-align: center;">
                    <% if logos_form.object.image.attached? %>
                      <%= image_tag url_for(logos_form.object.image.variant(resize: "100x100").processed) %><br>
                      <%= "'#{logos_form.object.image.filename}'" %>
                    <% end %>
                  </td>
                  <td><%= logos_form.file_field :image, class: 'form-control' %></td>
                  <td>
                    <%= logos_form.remove_nested_fields_link 'Delete', data: { confirm: "Are you sure?\n(You need to update to permanently remove the logo.)" } %>
                  </td>
                <% end %>
              </tbody>
            </table>
          </div>

          <div>
            <p>
              <%= f.add_nested_fields_link :logos, class: 'btn btn-default', title: 'Add a new Logo' do %>
                <span>Add a new Logo</span>
              <% end %>
              <br>
              (You need to update to permanently add or remove a logo.)
            </p>
            <p>
              Up to 12 logos can be added in total.
            </p>
          </div>
        </div>
      </div>

      <%= f.submit 'Update', :class => 'btn btn-default' %>

    <% end %>
  </div>

  <div id="lightboxModal" class="modal">
    <span class="close-icon">&times;</span>

    <div class="modal-content">
      <img id="modal-image">

      <% if @home.background_image.attached? %>
        <%= link_to '', delete_background_image_home_path(@home, attachment_id: @home.background_image.id),
                    :class => "glyphicon glyphicon-trash remove-image-modal",
                    id: 'remove_image_modal_button',
                    method: :delete,
                    title: 'Remove background image',
                    data: { confirm: 'Are you sure you want to delete this attachment? This action can not be undone.' } %>
      <% end %>
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    </div>
  </div>
</div>
