<%= show_val_errors(@lab_rack)%>


<div class="authform">
  <h4><%= @lab_rack.rackcode %></h4>
<%= form_for(@lab_rack) do |f| %>
  
      <div class="form-group">
        <%= f.label :rackcode %>
        <%= f.text_field :rackcode, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Freezer' %>
        <%= f.collection_select(:freezer_id, Freezer.all, :id, :freezercode) %>
      </div>

      <%= f.submit 'Update', :class => 'button right' %>
<% end %>
</div>