<div class="panel panel-default">
  <div class="panel-heading"><h4>Species epithets</h4></div>

  <table class="table">


  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @species_epithets.each do |species_epithet| %>
      <tr>
        <td><%= species_epithet.name %></td>
        <td><%= link_to 'Show', species_epithet %></td>
        <td><%= link_to 'Edit', edit_species_epithet_path(species_epithet) %></td>
        <td><%= link_to 'Delete', species_epithet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Species epithet', new_species_epithet_path %>
