
<div class="panel panel-default">
  
<div class="panel-heading"><h3 class="panel-title"><%= @alignment.name%></h3></div>

  <div class="panel-body"><%= form_for(@alignment) do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :URL %>
        <%= f.text_field :URL, :autofocus => true, class: 'form-control' %>
      </div>

      <%= f.submit 'Update', :class => 'button right' %>

  <% end %></div>
</div>