<%= show_val_errors(@alignment)%>

<div class="authform">
<h4><%= @alignment.name%></h4>

  <%= form_for(@alignment) do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :URL %>
        <%= f.text_field :URL, :autofocus => true, class: 'form-control' %>
      </div>

      <%= f.submit 'Update', :class => 'button right' %>

  <% end %>
</div>