<%= show_val_errors(@higher_order_taxon)%>

<div class="authform">
  <h4><%= @higher_order_taxon.name%></h4>
<%= form_for(@higher_order_taxon) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Deutsch' %>
        <%= f.text_field :german_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :position %>
        <%= f.text_field :position,  class: 'form-control' %>
      </div>

      <%= f.submit 'Update', :class => 'button right' %>

<% end %>
</div>