<%= show_val_errors(@higher_order_taxon)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @higher_order_taxon.name %></h3>
  </div>
  <div class="panel-body">
    <%= form_for(@higher_order_taxon) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Deutsch' %>
          <%= f.text_field :german_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :position %>
          <%= f.text_field :position,  class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'GBoL5 target markers' %><br>
          <%= f.collection_select :marker_ids, Marker.gbol_marker.order(:name), :id, :name, {}, {multiple:true} %>
        </div>

        <%= f.submit 'Update', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<!-- show assigned spp.-->

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Species</h3>
  </div>


  <div class="panel-body">
    <div class="wideTable">
      <table id="species" data-source="<%= show_species_higher_order_taxon_url(format: "json") %>" class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Species</th>
          <th>Author</th>
          <th>Family</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>

  </div>

</div>

<!--orders-->
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Orders</h3>
  </div>

  <div class="panel-body">
    <table  class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>

      <tbody>
      <% @higher_order_taxon.orders.order(:name).each do |c| %>
          <tr>
            <td>
              <%= link_to c.name,edit_order_path(c) %>
            </td>
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>