<% provide(:title, @higher_order_taxon.name) %>
<%= show_val_errors(@higher_order_taxon)%>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @higher_order_taxon.name %></h3>
  </div>
  <div class="panel-body">
    <%= form_for(@higher_order_taxon) do |f| %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li><a href="#description" role="tab" data-toggle="tab">Description</a></li>
          <li><a href="#assigned_orders" role="tab" data-toggle="tab">Orders</a></li>
          <li class="active"><a href="#assigned_species" role="tab" data-toggle="tab">Species</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

        <div class="tab-pane" id="description">
          <br>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'Deutsch' %>
            <%= f.text_field :german_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :position %>
            <%= f.text_field :position,  class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'GBoL5 target markers' %><br>
            <%= f.collection_select :marker_ids, Marker.gbol_marker.order(:name), :id, :name, {}, {multiple:true} %>
          </div>

        </div>

        <div class="tab-pane" id="assigned_orders">
          <br>
          <table class="table table-striped table-hover table-bordered">

            <thead>
            <tr>
              <th>Name</th>
            </tr>
            </thead>

            <tbody>
            <% @higher_order_taxon.orders.order(:name).each do |c| %>
                <tr>
                  <td>
                    <%= link_to c.name,edit_order_path(c) %>
                  </td>
                </tr>
            <% end %>
            </tbody>

          </table>
        </div>

        <div class="tab-pane active" id="assigned_species">
          <br>
          <div class="wideTable">
            <table id="species" data-source="<%= show_species_higher_order_taxon_url(format: "json") %>" class="table table-striped table-hover table-bordered">

              <thead>
              <tr>
                <th>Species</th>
                <th>Author</th>
                <th>Family</th>
                <th>Last Updated</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              </tbody>

            </table>
          </div>
        </div>
          </div>

        <%= f.submit 'Update', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

