<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top-level Taxa</h3>
  </div>
  <div class="panel-body">


    <div class="wideTable">
      <table id="higher_order_taxa" class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>Name</th>
        <th>Deutscher Trivialname</th>
        <th>Position</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @higher_order_taxons.each do |higher_order_taxon| %>
          <tr>
            <td><%= link_to higher_order_taxon.name, edit_higher_order_taxon_path(higher_order_taxon) %></span></td>
            <td><%= higher_order_taxon.german_name %></td>
            <td><%= higher_order_taxon.position %></td>
            <td><%= link_to 'Delete', higher_order_taxon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
  </div>


</div>
<%= link_to 'New taxon', new_higher_order_taxon_path %>

