<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @herbarium.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @herbarium.acronym %>
</p>

<%= link_to 'Edit', edit_herbarium_path(@herbarium) %> |
<%= link_to 'Back', herbaria_path %>
