<div class="panel panel-default">
  <div class="panel-heading"><h4>Plates (DNA)</h4></div>

  <table class="table">


  <thead>
    <tr>
      <th>Name/Code</th>
      <th>Location in Rack</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @micronic_plates.each do |micronic_plate| %>
      <tr>
        <td><%= micronic_plate.name %></td>
        <td><%= micronic_plate.location_in_rack %></td>
        <td><%= link_to 'Show', micronic_plate %></td>
        <td><%= link_to 'Edit', edit_micronic_plate_path(micronic_plate) %></td>
        <td><%= link_to 'Delete', micronic_plate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Plate (DNA)', new_micronic_plate_path %>

