<% unless user_signed_in? %>
    <% link_disabled="disabled" %>
<% else %>
    <% link_disabled="" %>
<% end %>

<li><%= link_to 'Documentation', documentation_path %></li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_project_name %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Progress status', progress_overview_index_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Projects', projects_path %></li>
    <% if user_signed_in? %>
      <li class="divider"></li>
      <li ><%= link_to 'Advanced contig search', new_contig_search_path %></li>
      <li ><%= link_to 'Advanced marker sequence search', new_marker_sequence_search_path %></li>
      <li ><%= link_to 'Advanced specimen search', new_individual_search_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'SATIVA mislabel analyses', mislabel_analyses_path %></li>
      <li ><%= link_to 'Orphaned taxon entries', orphans_taxa_path %></li>
      <li ><%= link_to 'Duplicate contigs', duplicates_contigs_path %></li>
      <li ><%= link_to 'Reads without contig', reads_without_contigs_path %></li>
      <li ><%= link_to 'Duplicate reads', duplicates_primer_reads_path %></li>
      <li ><%= link_to 'Isolates without specimens', no_specimen_isolates_path %></li>
      <li ><%= link_to 'Duplicate Isolates', duplicates_isolates_path %></li>
      <li ><%= link_to 'Notifications', issues_path %></li>
    <% end %>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Taxa <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Taxonomy', taxa_path %></li>
    <li><%= link_to 'Specimens', individuals_path %></li>
    <li><%= link_to 'Collections', collections_path %></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">DNA <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Isolates', isolates_path %></li>
    <li><%= link_to 'Primer Reads', primer_reads_path %></li>
    <li><%= link_to 'Contigs', contigs_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Marker Sequences', marker_sequences_path %></li>
    <li class="divider"></li>
    <li class="<%= link_disabled %>"><%= link_to 'NGS Runs', ngs_runs_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Read Clusters', clusters_path %></li>
    <li class="divider"></li>
    <li class="<%= link_disabled %>"><%= link_to 'Markers', markers_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Primers', primers_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Tissue Types', tissues_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Labs', labs_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Freezers', freezers_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Racks', lab_racks_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Plates (DNA)', micronic_plates_path %></li>
    <li class="<%= link_disabled %>"><%= link_to 'Plates (Tissue)', plant_plates_path%></li>
  </ul>
</li>

<li>
  <div class="input-group" style="padding: 10px;">
    <%= form_tag multisearch_app_homes_path, method: :get do %>
      <%= text_field_tag :search, params[:search],
                         placeholder: "Search everywhere",
                         style: 'border-radius: 3px 0 0 3px;',
                         class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag(name: nil, type: "submit", class: "btn btn-default") do %>
            <i class="glyphicon glyphicon-search"></i>
        <% end %>
      </span>
    <% end %>
  </div>
</li>

<% if user_signed_in? %>

  <% if current_user.admin? || current_user.supervisor? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin area<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Home configuration', edit_home_path(Home.where(active: true).first) %></li>
      </ul>
    </li>
  <% end %>

  <li><%= link_to '', destroy_user_session_path, class: 'glyphicon glyphicon-log-out', :method=>'delete', title: 'Log out' %></li>
  <li><%= link_to '', home_user_path(current_user.id), class: 'glyphicon glyphicon-user', title:'User Home Area' %></li>

<% else %>
    <li><%= link_to '', new_user_session_path, class: 'glyphicon glyphicon-log-in', title: 'Log in' %></li>
<% end %>