<% unless user_signed_in? %>
    <% theClass="disabled" %>
<% else %>
    <% theClass="" %>
<% end %>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Overview', search_path %></li>
    <li class="divider"></li>
    <li class="<%= theClass %>"><%= link_to 'Notifications', issues_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Reads without Contig', reads_without_contigs_path %></li>
    <li class="disabled"><%= link_to 'Projects', projects_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Impressum', impressum_path %></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Taxa <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Species', species_index_path %></li>
    <li><%= link_to 'Specimens', individuals_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Families', families_path %></li>
    <li><%= link_to 'Orders', orders_path %></li>
    <li><%= link_to 'Top-level Taxa', higher_order_taxons_path %></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">DNA <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Isolates', isolates_path %></li>
    <li><%= link_to 'Primer Reads', primer_reads_path %></li>
    <li><%= link_to 'Contigs', contigs_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Marker Sequences', marker_sequences_path %></li>
    <li class="divider"></li>
    <li class="<%= theClass %>"><%= link_to 'Verification', show_need_verify_contigs_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Markers', markers_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Primers', primers_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Tissue Types', tissues_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Statuses', statuses_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Labs', labs_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Freezers', freezers_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Shelves', shelves_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Racks', lab_racks_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Plates (DNA)', micronic_plates_path %></li>
    <li class="<%= theClass %>"><%= link_to 'Plates (Tissue)', plant_plates_path%></li>
    <li class="divider"></li>
    <li class="<%= theClass %>"><%= link_to 'Alignments', alignments_path %></li>
  </ul>
</li>


<% if user_signed_in? %>
    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    <li><%= link_to "#{current_user.name}", edit_user_registration_path, title:'Edit account'  %></li>
<% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>

