<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GBOL5 web app" %>">

  <%= stylesheet_link_tag 'application', media: 'all'%>

  <%= javascript_include_tag 'application'%>

  <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>

  <%= csrf_meta_tags %>

</head>

<body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">

      <%= render 'layouts/messages' %>

      <%= yield %>

    </main>

</body>

</html>