<div class="panel panel-default">
  <div class="panel-heading">
    <p><h3 class="panel-title">Marker Sequence Search Results <%= "- #{title(@marker_sequence_search)}" %></h3></p>
    <p>Search parameters:<br>
      <%= "Searched project: #{project(@marker_sequence_search)}" %>
      <br>
      <%= attributes(@marker_sequence_search) %>
    </p>
  </div>
  <div class="panel-body">

    <div class="wideTable">
      <table id="marker_sequence_search_results" data-source="<%= marker_sequence_search_url(@marker_sequence_search, format: 'json') %>" class="table table-striped table-hover table-bordered" style="width: 100%;" >
        <thead>
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>

  </div>
</div>

<p>
  <%= link_to 'Start a new marker sequence search', new_marker_sequence_search_path, class: 'btn btn-default' %>

  <%= link_to 'Go to your marker sequence searches index', marker_sequence_searches_path, class: 'btn btn-default' %>

  <%= link_to 'Go to marker sequences index', marker_sequences_path, class: 'btn btn-default' %>
</p>

<p>
  <%= link_to 'Download results as Fasta', marker_sequence_search_export_as_fasta_path(@marker_sequence_search), method: 'post', class: 'btn btn-default' %>
</p>